
spring:
  datasource:
    username: root
    password: root
    url: jdbc:mysql://123.57.235.72:3306/read?useUnicode=true&characterEncoding=utf-8
    driver-class-name: com.mysql.jdbc.Driver
  data:
    solr:
      host: http://127.0.0.1:8983/solr
#  data:
#    solr:
#      host: http://localhost:8983/solr
#  thymeleaf:
#    prefix: classpath:/templates/
#    suffix: .html

#redis配置
  redis:
    host: 127.0.0.1
    port: 6379
    database: 0
    timeout: 300ms
    pool:
    jedis:
      pool:
        max-active: 8
        max-wait: -1ms
        max-idle: 8
        min-idle: 0
    password:
#redis配置完成



mybatis:
  mapper-locations: classpath:org.lanqiao.mapper/*Mapper.xml
  type-aliases-package: org.lanqiao.entity

#showSql
logging:
  level:
    org:
      lanqiao:
        mapper: debug

#配置分页插件pagehelper
pagehelper:
  helperDialect: mysql
  reasonable: true
  supportMethodsArguments: true
  params: count=countSql