<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta name="applicable-device" content="pc">
    <title>全部作品—愛阅读</title>
    <meta property="qc:admins" content="13454603154561636375" />
    <meta property="wb:webmaster" content="0e2d310a7690a84c" />
    <link type="text/css" rel="stylesheet" href="../css/allbooks/allbooks1.css" />
    <style>
        #m-login form[name=frmLogin]{
            display: none;
        }
    </style>
    <link type="text/css" rel="stylesheet" href="../css/allbooks/allbooks2.css"/>
    <link type="text/css" rel="stylesheet" href="../css/allbooks/allbooks3.css"/>
    <link type="text/css" rel="stylesheet" href="../css/topcss/top1.css"/>

    <script type="text/javascript">
    </script>

    <script src="../js/topjs/html5shiv.js"></script>
    <script type="text/javascript" src="../js/topjs/libs.js"></script>
    <script src="../js/topjs/ursLogin.js"></script>
    <script src="../js/topjs/components.js"></script>
    <script src="../js/topjs/index.bundle.js"></script>

    <style>
        .g-bdw{margin-bottom:40px;}
    </style>
</head>

<body id="page-163-com"  class="page-originalCategory g-gf">
<noscript><a href="#">请使用支持脚本的浏览器！</a></noscript>
<div style="display: none;"><input type="password" /></div>
<div class="g-doc">
    <!-- 头部导航 -->
    <div class="g-hdw">
        <div id="J_Header" class="g-hd ">
            <div class="m-topbar">
                <div class="inner f-cb" data-reactid=".3">
                    <div data-reactid=".3.0">
                        <ul class="sns f-cb" data-reactid=".3.0.0">
                            <li data-reactid=".3.0.0.0"><a href="" title="read"
                                                           data-reactid=".3.0.0.0.0">爱阅读</a></li>
                            <li data-reactid=".3.0.0.1"><span class="sep" data-reactid=".3.0.0.1.0">|</span></li>
                            <li data-reactid=".3.0.0.2"><a href="" title="全部作品" data-reactid=".3.0.0.2.0">全部作品</a>
                            </li>
                            <li data-reactid=".3.0.0.5"><span class="sep" data-reactid=".3.0.0.5.0">|</span></li>
                            <li data-reactid=".3.0.0.6"><a href="" title="从电脑上导入书籍"
                                                           data-reactid=".3.0.0.6.0">从电脑上导入书籍</a></li>
                            <li data-reactid=".3.0.0.7"><span class="sep" data-reactid=".3.0.0.7.0">|</span></li>
                            <li data-reactid=".3.0.0.8"><a href="" title="公众号"
                                                           data-reactid=".3.0.0.8.0">公众号</a></li>
                            <li data-reactid=".3.0.0.9"><span class="sep" data-reactid=".3.0.0.9.0">|</span></li>
                            <li data-reactid=".3.0.0.a"><a href="" title="渠道推广平台"
                                                           target="_blank" data-reactid=".3.0.0.a.0">渠道推广平台</a></li>
                        </ul>
                        <div class="m-codelayer" style="display: none; left: 309px;" data-reactid=".3.0.1"><img
                                src="../images/topimages/weixin.png"
                                data-reactid=".3.0.1.0"></div>
                    </div>
                    <div data-reactid=".3.1">
                        <div class="ulink j-ulink" data-reactid=".3.1.0"><a target="_blank" title="登录"
                                                                            data-reactid=".3.1.0.0" href="">登录</a><span
                                class="sep" data-reactid=".3.1.0.1">|</span><a target="_blank" title="注册"
                                                                               data-reactid=".3.1.0.2" href="">注册</a>
                        </div>
                        <noscript data-reactid=".3.1.1"></noscript>
                    </div>
                </div>
            </div>
            <div class="m-headertop">
                <div class="inner">
                    <h1 class="m-logo"><a href="/">爱阅读</a></h1>
                    <div class="m-sch">
                    </div>
                    <!--                    搜索-->

                    <div id="first_2_3_1">
                        <input name="key" type="text" style="width: 425px; height: 26px" id="i1">
                        <a href="search.html">
                            <input name="find" type="button" value=" " style="width: 58px; height: 34px" id="i2">
                        </a>
                    </div>

                    <div class="m-clouds">
                        <a class="m-cloudsj" href="/shelf.do?operation=query_current" target="_blank">我的书架</a>
                    </div>
                </div>
            </div>
            <div class="m-headerbottom">
                <div class="inner">
                    <ul class="m-mianlist">
                        <li><a class="" href="/html/top.html">首页</a></li>
                        <li><a class="" href="/html/allbooks.html">全部作品</a></li>
                        <li><a class="" href="">排行榜</a></li>
                        <li class="fr"><a href=""><b class="icon-recharge"></b>充值</a></li>
                        <li class="fr"><a href=""><b class="icon-open"></b>作者中心</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>    <!-- 主题内容 -->
    <div id="J_FIXED" class="m-tipss" style="display:none;">
        <div id="J_TIPS" class="inner"></div>
    </div>

    <div class="g-bdw g-bdw-1">
        <div class="g-bd yd-grid2col-page">
            <div class="m-breadcrumbs">当前位置：
                <a href="/yc">全部作品</a> &gt; <span class="sep"></span>
            </div>
            <div class="g-bdc yd-original-page">
                <div class="g-sd" data-spy="affix" data-offset-top="187">
                    <div class="widget widget-theme-original ">
                        <div class="widget-header">
                            <div class="widget-title grad-1">
                                <a class="inner" href="/yc/category">全部书库</a>
                            </div>
                        </div>
                        <div class="widget-content ">
                            <ul>
                                <div v-for="(types,index1) in fathertypes">
                                <li class="" v-for="(type,index2) in types.secondSelect">
                                    <a @click="select(index2)">{{type.booktypeName}}</a>
                                </li>
                                </div>
                            </ul>
                        </div>
                    </div>
                    <div id="J_Bang2" class="m-bang ">
                        <div class="tabs ">
                            <h4 class="grad-1">点击榜</h4>
                        </div>
                        <div class="contents">
                            <div class="tab-item">
                                <ol id="click-rankday">
                                </ol>
                            </div>
                            <div class="tab-item">
                                <ol id="click-rankweek">
                                </ol>
                            </div>
                            <div class="tab-item">
                                <ol id="click-ranktotal">
                                </ol>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="g-mn">
                    <div class="g-mnc">
                        <div class="yd-original-store-filter-container yd-store-filter-container ">
                            <dl class="dl-horizontal">
                                <dt>付费性质：</dt>
                                <dd>
                                    <ul class="list-inline">
                                        <li class="active"><a>全部</a></li>
                                        <li><a>免费作品</a></li>
                                        <li><a>付费作品</a></li>
                                    </ul>
                                </dd>
                                <dt>写作进度：</dt>
                                <dd>
                                    <ul class="list-inline">
                                        <li class="active"><a>全部</a></li>
                                        <li><a>连载中</a></li>
                                        <li><a>已完结</a></li>
                                    </ul>
                                </dd>
                                <dt>作品字数：</dt>
                                <dd>
                                    <ul class="list-inline">
                                        <li class="active"><a>全部</a></li>
                                        <li><a>30万字以下</a></li>
                                        <li><a>30-50万字</a></li>
                                        <li><a>50-100万字</a></li>
                                        <li><a>100万字以上</a></li>
                                    </ul>
                                </dd>
                                <dt>排序方式：</dt>
                                <dd class="last">
                                    <ul class="list-inline">
                                        <li class="active"><a>最热</a></li>
                                    </ul>
                                </dd>
                            </dl>
                        </div>
                        <div class="yd-store-content-container">
                            <table class="yd-table yd-table-striped yd-original-table yd-original-store-table ">
                                <thead>
                                <tr class="grad-1">
                                    <th width="12%" style="text-align: center">序号</th>
                                    <th width="42%">书名/最新章节</th>
                                    <th width="12%" style="text-align: center">作者</th>
                                    <th width="16%" style="text-align: center">字数</th>
                                    <th width="18%" style="text-align: center">更新时间</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr class="odd first">
                                    <td style="text-align: center"><span class="serial-number">1</span></td>
                                    <td>
                                        <div class="book-name"><a href="/source/bd_d72fe2f5e29d43fab6231d1fef40388e_4" target="_blank">逆天仙尊</a></div>
                                        <div class="book-newest-chapter">第2663章　终章</div>
                                    </td>
                                    <td style="text-align: center">杜灿</td>
                                    <td style="text-align: center">9044001</td>
                                    <td style="text-align: center">03-29 17:42</td>
                                </tr>
                                <tr class="even">
                                    <td style="text-align: center"><span class="serial-number">2</span></td>
                                    <td>
                                        <div class="book-name"><a href="/source/bd_56d8c889ffd74ddcbaa9bde864d91f00_4" target="_blank">绝世武神</a></div>
                                        <div class="book-newest-chapter">第2500章 大结局</div>
                                    </td>
                                    <td style="text-align: center">净无痕</td>
                                    <td style="text-align: center">7245081</td>
                                    <td style="text-align: center">06-11 20:24</td>
                                </tr>
                                <tr class="odd">
                                    <td style="text-align: center"><span class="serial-number">3</span></td>
                                    <td>
                                        <div class="book-name"><a href="/source/bd_0171456a-70f0-420a-a611-e1d053121695_4" target="_blank">少年魔神</a></div>
                                        <div class="book-newest-chapter">第1511章：大结局</div>
                                    </td>
                                    <td style="text-align: center">周大少</td>
                                    <td style="text-align: center">4905165</td>
                                    <td style="text-align: center">01-31 22:27</td>
                                </tr>
                                <tr class="even">
                                    <td style="text-align: center"><span class="serial-number">4</span></td>
                                    <td>
                                        <div class="book-name"><a href="/source/bd_96f5e2fca90c4077b1d486641334fdda_4" target="_blank">修真者在异世</a></div>
                                        <div class="book-newest-chapter">　第一千一百六十章 何谓天道【大结局】</div>
                                    </td>
                                    <td style="text-align: center">禹枫</td>
                                    <td style="text-align: center">4231002</td>
                                    <td style="text-align: center">06-11 23:33</td>
                                </tr>
                                <tr class="odd">
                                    <td style="text-align: center"><span class="serial-number">5</span></td>
                                    <td>
                                        <div class="book-name"><a href="/source/bd_7035f5d11383427e98b07a48dd5721e1_4" target="_blank">不灭星神</a></div>
                                        <div class="book-newest-chapter">第1901章　大结局</div>
                                    </td>
                                    <td style="text-align: center">夜行月</td>
                                    <td style="text-align: center">5124910</td>
                                    <td style="text-align: center">09-25 17:29</td>
                                </tr>
                                <tr class="even">
                                    <td style="text-align: center"><span class="serial-number">6</span></td>
                                    <td>
                                        <div class="book-name"><a href="/source/4b015d922d4f4875b0845f8749b0122e_4" target="_blank">灭世武修</a></div>
                                        <div class="book-newest-chapter">第二千九百八十三章 十盟会议 八</div>
                                    </td>
                                    <td style="text-align: center">天上无鱼</td>
                                    <td style="text-align: center">7275422</td>
                                    <td style="text-align: center">09-10 07:08</td>
                                </tr>
                                <tr class="odd">
                                    <td style="text-align: center"><span class="serial-number">7</span></td>
                                    <td>
                                        <div class="book-name"><a href="/source/bd_ee887b1d571f4a179794cf3cca5dcca4_4" target="_blank">九真九阳</a></div>
                                        <div class="book-newest-chapter">第3337章　大结局</div>
                                    </td>
                                    <td style="text-align: center">杜灿</td>
                                    <td style="text-align: center">10831575</td>
                                    <td style="text-align: center">12-28 03:28</td>
                                </tr>
                                <tr class="even">
                                    <td style="text-align: center"><span class="serial-number">8</span></td>
                                    <td>
                                        <div class="book-name"><a href="/source/bd_4b7ae799af784926b8fb95b37204abdb_4" target="_blank">神魂至尊</a></div>
                                        <div class="book-newest-chapter">第4565章　苦海中摆渡</div>
                                    </td>
                                    <td style="text-align: center">八异</td>
                                    <td style="text-align: center">11866588</td>
                                    <td style="text-align: center">09-10 05:44</td>
                                </tr>
                                <tr class="odd">
                                    <td style="text-align: center"><span class="serial-number">9</span></td>
                                    <td>
                                        <div class="book-name"><a href="/source/bd_18ead1601e8b4d8aaa2a81f0c48c723c_4" target="_blank">绝代战魂</a></div>
                                        <div class="book-newest-chapter">第838章　大结局</div>
                                    </td>
                                    <td style="text-align: center">陌上风华</td>
                                    <td style="text-align: center">2758363</td>
                                    <td style="text-align: center">04-07 07:16</td>
                                </tr>
                                <tr class="even">
                                    <td style="text-align: center"><span class="serial-number">10</span></td>
                                    <td>
                                        <div class="book-name"><a href="/source/bd_c82a9e56467a40cf81ee6868f833e516_4" target="_blank">血狱魔帝</a></div>
                                        <div class="book-newest-chapter">完本感言</div>
                                    </td>
                                    <td style="text-align: center">夜行月</td>
                                    <td style="text-align: center">5095660</td>
                                    <td style="text-align: center">12-06 12:30</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="m-page m-page-b">
		<span class="nums">
				<a href="" class="j-crt">1</a>
				<a href="">2</a>
				<a href="">3</a>
				<a href="">4</a>
				<a href="">5</a>
		</span>
                            <span class="dian">...</span>
                            <span class="nums">
					<a href="">100</a>
				</span>
                            <a href="" class="go go-n">下一页</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
    </script>

    <div class="g-ftw">
        <div class="g-ft" class="f-cb">
            <div class="m-foot">
                <p class="link">
                    <a href="http://www.163.com" target="_blank">网易首页</a><span class="sep">|</span>
                    <a href="http://gb.corp.163.com/gb/about/overview.html" target="_blank">公司简介</a><span class="sep">|</span>
                    <a href="http://help.163.com/" target="_blank">客户服务</a><span class="sep">|</span>
                    <a href="http://corp.163.com/gb/legal/legal.html" target="_blank">相关法律</a><span class="sep">|</span>
                    <a href="http://sitemap.163.com/" target="_blank">网站导航</a><span class="sep">|</span>
                    <a id="J_Service" href="javascript:void(0);">客服电话</a><span class="sep">|</span>
                    <a href="/help" target="_blank">帮助中心</a><span class="sep">|</span>
                    <a href="http://open.yuedu.163.com/" target="_blank">作者中心</a>
                </p>
            </div>
            <div class="m-right"><p>网易公司版权所有&#169;1997-<span id="j-year">2017</span> &nbsp;&nbsp;网络出版服务许可证（总）网出证（粤）字第030号  &nbsp;&nbsp;信息网络传播视听节目许可证号1908260  &nbsp;&nbsp;增值电信业务经营许可证 粤B2-20090191</p></div>
            <div class="m-share f-cb" >
                <label>分享到：</label>
                <div class="share"><a href="javascript:;" class="s2 j-wxwx" data-type="xo">微信</a></div>
                <div class="share"><a href="javascript:;" class="s4 j-yxyx" data-type="xo">易信</a></div>
                <div class="share"><a id="_share_b_tsina" href="javascript:(function(){window.open('http://v.t.sina.com.cn/share/share.php?appkey=1560988037&url='+encodeURIComponent('https://yuedu.163.com/')+'&title='+encodeURIComponent('网易云阅读内容丰富、操作便捷，适合作为平时阅读、充电的软件工具，推荐大家都来下载！')+'&pic='+encodeURIComponent('https://yuedust.yuedu.126.net/images/weibo_v3.jpg?2_20120731162723'),'_blank');})()" class="s1">微博</a></div>
                <div class="share"><a href="javascript:(function(){window.open('http://sns.qzone.qq.com/cgi-bin/qzshare/cgi_qzshare_onekey?site='+encodeURIComponent('网易云阅读官方网站')+'&url='+encodeURIComponent('https://yuedu.163.com/')+'&title='+encodeURIComponent('网易云阅读--随时随地，品质阅读')+'&pics='+encodeURIComponent('https://yuedust.yuedu.126.net/images/weibo_v3.jpg?3_20131202100833')+'&summary='+encodeURIComponent('网易云阅读内容丰富、操作便捷，适合作为平时阅读、充电的软件工具，推荐大家都来下载！'),'_blank');})()" class="s3">QQ空间</a></div>
            </div>

        </div>
    </div>
    <div class="m-pop-qr ma" id="J_WXM" style="display:none;"><a class="close" href="javascript:;"></a></div>
    <div class="m-pop-qr ma2" id="J_YXM" style="display:none;"><a class="close" href="javascript:;"></a></div>
    <div class="m-pop-qr ma3" id="J_WBM" style="display:none;"><a class="close" href="javascript:;"></a></div>
    <div id="J_ServiceNum" class="m-layer m-layer-5" style="display:none;">
        <div class="inner">
            <div class="up"><a href="javascript:void(0);"></a></div>
            <div class="down">
                <p>购买书籍后无法阅读等问题<br /></p>
                <p>可拨打：0571-89853801</p>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        document.getElementById('j-year').innerText = new Date().getFullYear();
    </script>

</div>

<!-- 共用结构 -->
<!-- 右侧悬浮 -->
<div id="J_BonusPack"></div>
<div id="J_rightsidebar">
    <div data-reactid=".0"><a href="" class="m-gotop" style="display: block; right: 0px;" title="回到顶部"
                              data-reactid=".0.0"></a>
        <div data-reactid=".0.1"><a class="m-qr" target="_blank" href="/download?act=rdpages_20130925_02"
                                    style="display:none;" data-reactid=".0.1.0"><img
                src="https://yuedu.163.com/images/down/QR_All.png" data-reactid=".0.1.0.0"></a>
            <div class="m-qr-icon" href="javascript:;" style="display:block;right:0px;" data-reactid=".0.1.1"><a
                    class="m-qr-hover" href="/download?act=rdpages_20130925_02" style="display: none; right: 50px;"
                    data-reactid=".0.1.1.0"><img src="https://yuedu.163.com/images/down/QR_All.png"
                                                 data-reactid=".0.1.1.0.0"></a></div>
        </div>
        <a href="/report.do" target="_blank" style="right:0px;" title="举报中心" class="m-report" data-reactid=".0.2"></a>
    </div>
</div>
<div class="m-mask" style="z-index: 8000"></div>
<div class="m-bonus-success"></div>


<input id="J_IFIE6" type="hidden" value="no"/>
<div class="m-mask f-dn"></div>
<script src="../js/topjs/jquery-3.4.1.js"></script>
<script src="../js/topjs/vue.min.js"></script>
<script type="text/javascript">

    var factor = new Object();

    factor.bookTypeId = null;
    factor.bookFee = null;
    factor.bookFlag = null;
    factor.bookWord = null;
    factor.pageNum = 1;

    var mv1 = new Vue({
        el: '.widget-content',
        data: {fathertypes: {}},
        created: function () {
            $.ajax({
                url: "http://localhost:8080/getAllType",
                type: "post",
                data: {},
                datatype: "json",
                success: function (data) {
                    mv1.fathertypes = data;
                }
            })
        },
        methods:{
            select:function (i) {
                var temp2;
                var sum  = 0;
                for(var j = 0; j < this.fathertypes.length; j++){
                    for(var k = 0; k < this.fathertypes[j].secondSelect.length; k++,sum++){
                        if(sum == i){
                            temp2 = this.fathertypes[j].secondSelect[k].booktypeName;
                        }
                    }
                }
                $(".m-breadcrumbs span").text(temp2);
            }
        }
    })
    $(".list-inline li").click(function () {
        $(this).siblings().removeClass();
        $(this).addClass("active");
    })

    $.ajax({
        url:"http://localhost:8080/getBooksByType",
        type: "post",
        data: JSON.stringify(factor),
        datatype: "json",
        contentType: 'application/json;charset=UTF-8',
        success: function (data) {
            alert(data.list.length);
        }
    })
</script>
</body>
</html>
