<!DOCTYPE html>
<html xmlns:v-bind="http://www.w3.org/1999/xhtml">
<html>
<head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
    <meta name="applicable-device" content="pc">
    <title>总榜单-网易云阅读</title>
    <meta name="keywords" content="图书排行榜，图书畅销榜,免费图书，新书，好书排行榜top100"/>
    <meta property="qc:admins" content="13454603154561636375"/>
    <meta name="description" content="网易云阅读好书推荐排行榜，推荐当前热门的女性、言情、玄幻、励志、儿童、小说。"/>
    <meta property="wb:webmaster" content="0e2d310a7690a84c"/>
    <!--    <link rel="shortcut icon" href="//yuedust.yuedu.126.net/favicon.ico?20190908094745" />-->
    <link type="text/css" rel="stylesheet" href="../css/topcss/top1.css"/>
    <link href="../css/ranklist/ranklist2.css" rel="stylesheet">
    <link href="../css/ranklist/ranklist1.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="../js/topjs/html5shiv.js"></script>
    <![endif]-->
    <script type="text/javascript" src="../js/topjs/libs.js"></script>
</head>
<body id="page-163-com" class="page-index">
<noscript>请使用支持脚本的浏览器！</noscript>

<div class="g-doc">
    <!-- 头部导航 -->
    <div class="g-hdw">
        <div id="J_Header" class="g-hd ">
            <div class="m-topbar">
                <div class="inner f-cb" data-reactid=".3">
                    <div data-reactid=".3.0">
                        <ul class="sns f-cb" data-reactid=".3.0.0">
                            <li data-reactid=".3.0.0.0"><a href="top.html" title="read"
                                                           data-reactid=".3.0.0.0.0">爱阅读</a></li>
                            <li data-reactid=".3.0.0.1"><span class="sep" data-reactid=".3.0.0.1.0">|</span></li>
                            <li data-reactid=".3.0.0.2"><a href="allbooks.html" title="全部作品" data-reactid=".3.0.0.2.0">全部作品</a>
                            </li>
                            <li data-reactid=".3.0.0.5"><span class="sep" data-reactid=".3.0.0.5.0">|</span></li>
                            <li data-reactid=".3.0.0.6"><a title="从电脑上导入书籍"
                                                           data-reactid=".3.0.0.6.0">从电脑上导入书籍</a></li>
                            <li data-reactid=".3.0.0.7"><span class="sep" data-reactid=".3.0.0.7.0">|</span></li>
                            <li data-reactid=".3.0.0.8"><a id="gongzhonghao" href="" title="公众号"
                                                           data-reactid=".3.0.0.8.0">公众号</a></li>
                            <li data-reactid=".3.0.0.9"><span class="sep" data-reactid=".3.0.0.9.0">|</span></li>
                            <li data-reactid=".3.0.0.a"><a title="渠道推广平台"
                                                           target="_blank" data-reactid=".3.0.0.a.0">渠道推广平台</a></li>
                        </ul>
                        <div class="m-codelayer" style="display: none; left: 200px;" data-reactid=".3.0.1"><img
                                src="../images/topimages/weixin.png" data-reactid=".3.0.1.0"></div>
                    </div>
                    <div data-reactid=".3.1">
                        <div class="ulink j-ulink" data-reactid=".3.1.0">
                            <a class="userself" target="_blank" title="登录" data-reactid=".3.1.0.0"
                               href="login.html">登录</a>
                            <span class="sep" data-reactid=".3.1.0.1">|</span>
                            <a target="_blank" title="注册" data-reactid=".3.1.0.2" href="zhuce.html">注册</a>
                        </div>
                        <noscript data-reactid=".3.1.1"></noscript>
                    </div>
                </div>
            </div>
            <div class="m-headertop">
                <div class="inner">
                    <h1 class="m-logo">
                        <a href="top.html">i阅读</a></h1>
                    <div class="m-sch">
                    </div>
                    <!--                    搜索-->

                    <div id="first_2_3_1">
                        <input name="key" type="text" style="width: 425px; height: 26px" id="i1">
                        <input name="find" type="button" value=" " style="width: 58px; height: 34px" id="i2">
                    </div>

                    <div class="m-clouds">
                        <a class="m-cloudsj" target="_blank">我的书架</a>
                    </div>
                </div>
            </div>
            <div class="m-headerbottom">
                <div class="inner">
                    <ul class="m-mianlist">
                        <li><a class="" href="top.html">首页</a></li>
                        <li><a class="" href="allbooks.html">全部作品</a></li>
                        <li><a class="crt" href="">排行榜</a></li>
                        <li class="fr"><a href=""><b class="icon-recharge"></b>充值</a></li>
                        <li class="fr"><a class="authorcontainer"><b class="icon-open"></b>作者中心</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</div>


<div class="g-bdw g-bdw-1">
    <div class="g-bd yd-grid2col-page g-bd-large">
        <div class="g-bdc yd-book-page yd-book-rank-page">
            <div class="g-sd j-accordion j-affix affix" data-offset-top="201">
                <dl class="multi">
                    <dt style="background-color:#f4f4f4;">
                        <a href="/rank" style="color:#c9483c;" title="总榜单"><strong>总榜单</strong></a>
                    </dt>
                </dl>
            </div>
            <div class="g-mn">
                <div class="g-mnc yd-book-rank-container yd-rank-container yd-grid2col-standard-container">
                    <div class="m-bang-list-wrap contents yd-rank-content f-cb">
                        <div class="m-bang-list m-bang-list-l">
                            <div class="wrap">
                                <div class="tabs">
                                    <h3>畅销榜</h3>
                                </div>
                                <div id="bestseller">
                                    <div class="contents">
                                        <div class="tab-item m-foldlist">
                                            <ul class="">
                                                <li v-for="(rankList,index5) in rankList" v-if="index5 < 10" @click="bookdetail(rankList.bookId)">
                                                    <p class="fold" :style="{'display':(index5 == 0?'none':'')}">
                                                        <a target="_blank">
                                                            <i>
                                                                {{index5+1}}
                                                            </i>{{rankList.bookName}}
                                                        </a>
                                                    </p>
                                                    <div class="unfold" :style="{'display':(index5 != 0?'none':'')}">
                                                        <i>{{index5+1}}</i>
                                                        <a class="img"><img
                                                                v-bind:src="rankList.bookImg"
                                                                target="_blank"></a>
                                                        <h3><a target="_blank">{{rankList.bookName}}</a></h3>
                                                        <p>
                                                            <a target="_blank">{{rankList.author.authorName}}</a></p>
                                                    </div>
                                                </li>
                                            </ul>
                                            <a class="more" href="/book/rank/sell/all"><i></i>查看更多&gt;</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="m-bang-list m-bang-list-m">
                        <div class="wrap">
                            <div class="tabs">
                                <h3>订阅榜</h3>
                            </div>
                            <div id="rankRead">
                                <div class="contents">
                                    <div class="tab-item m-foldlist">
                                        <ul class="">
                                            <li v-for="(rankRead,index6) in rankRead" v-if="index6 < 10" @click="bookdetail(rankRead.bookId)">
                                                <p class="fold" :style="{'display':(index6 == 0?'none':'')}">
                                                    <a target="_blank">
                                                        <i>
                                                            {{index6+1}}
                                                        </i>{{rankRead.bookName}}
                                                    </a>
                                                </p>
                                                <div class="unfold" :style="{'display':(index6 != 0?'none':'')}">
                                                    <i>{{index6+1}}</i>
                                                    <a class="img"><img
                                                            v-bind:src="rankRead.bookImg"
                                                            target="_blank"></a>
                                                    <h3><a target="_blank">{{rankRead.bookName}}</a></h3>
                                                    <p>
                                                        <a target="_blank">{{rankRead.author.authorName}}</a></p>
                                                </div>
                                            </li>
                                        </ul>
                                        <a class="more" href="/book/rank/sell/all"><i></i>查看更多&gt;</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="m-bang-list m-bang-list-r">
                        <div class="wrap">
                            <div class="tabs">
                                <h3>打赏榜</h3>
                            </div>
                            <div id="rankMoney">
                                <div class="contents">
                                    <div class="tab-item m-foldlist">
                                        <ul class="">
                                            <li v-for="(rankMoney,index1) in rankMoney" v-if="index1 < 10" @click="bookdetail(rankMoney.bookId)">
                                                <p class="fold" :style="{'display':(index1 == 0?'none':'')}">
                                                    <a target="_blank">
                                                        <i>
                                                            {{index1+1}}
                                                        </i>{{rankMoney.bookName}}
                                                    </a>
                                                </p>
                                                <div class="unfold" :style="{'display':(index1 != 0?'none':'')}">
                                                    <i>{{index1+1}}</i>
                                                    <a class="img"><img
                                                            v-bind:src="rankMoney.bookImg"
                                                            target="_blank"></a>
                                                    <h3><a target="_blank">{{rankMoney.bookName}}</a></h3>
                                                    <p>
                                                        <a target="_blank">{{rankMoney.author.authorName}}</a></p>
                                                </div>
                                            </li>
                                        </ul>
                                        <a class="more" href="/book/rank/sell/all"><i></i>查看更多&gt;</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 尾部导航 -->
<div class="g-ftw">
    <div class="g-ft" class="f-cb">
        <div class="m-foot">
            <p class="link">
                <a href="http://www.163.com" target="_blank">i首页</a><span class="sep">|</span>
                <a href="http://gb.corp.163.com/gb/about/overview.html" target="_blank">公司简介</a><span
                    class="sep">|</span>
                <a href="http://help.163.com/" target="_blank">客户服务</a><span class="sep">|</span>
                <a href="http://corp.163.com/gb/legal/legal.html" target="_blank">相关法律</a><span class="sep">|</span>
                <a href="http://sitemap.163.com/" target="_blank">网站导航</a><span class="sep">|</span>
                <a id="J_Service" href="javascript:void(0);">客服电话</a><span class="sep">|</span>
                <a href="/help" target="_blank">帮助中心</a><span class="sep">|</span>
                <a href="http://open.yuedu.163.com/" target="_blank">作者中心</a>
            </p>
        </div>
        <div class="m-right"><p>网易公司版权所有&#169;1997-<span id="j-year">2017</span> &nbsp;&nbsp;网络出版服务许可证（总）网出证（粤）字第030号
            &nbsp;&nbsp;信息网络传播视听节目许可证号1908260 &nbsp;&nbsp;增值电信业务经营许可证 粤B2-20090191</p></div>
        <div class="m-share f-cb">
            <label>分享到：</label>
            <div class="share"><a href="javascript:;" class="s2 j-wxwx" data-type="xo">微信</a></div>
            <div class="share"><a href="javascript:;" class="s4 j-yxyx" data-type="xo">易信</a></div>
            <div class="share"><a id="_share_b_tsina"
                                  href="javascript:(function(){window.open('http://v.t.sina.com.cn/share/share.php?appkey=1560988037&url='+encodeURIComponent('https://yuedu.163.com/')+'&title='+encodeURIComponent('网易云阅读内容丰富、操作便捷，适合作为平时阅读、充电的软件工具，推荐大家都来下载！')+'&pic='+encodeURIComponent('https://yuedust.yuedu.126.net/images/weibo_v3.jpg?2_20120731162723'),'_blank');})()"
                                  class="s1">微博</a></div>
            <div class="share"><a
                    href="javascript:(function(){window.open('http://sns.qzone.qq.com/cgi-bin/qzshare/cgi_qzshare_onekey?site='+encodeURIComponent('网易云阅读官方网站')+'&url='+encodeURIComponent('https://yuedu.163.com/')+'&title='+encodeURIComponent('网易云阅读--随时随地，品质阅读')+'&pics='+encodeURIComponent('https://yuedust.yuedu.126.net/images/weibo_v3.jpg?3_20131202100833')+'&summary='+encodeURIComponent('网易云阅读内容丰富、操作便捷，适合作为平时阅读、充电的软件工具，推荐大家都来下载！'),'_blank');})()"
                    class="s3">QQ空间</a></div>
        </div>

    </div>
</div>

<!-- 共用结构 -->
<!-- 右侧悬浮 -->
<div id="J_BonusPack"></div>
<div id="J_rightsidebar">
    <div data-reactid=".0"><a href="javascript:;" class="m-gotop" style="display: block; right: 0px;" title="回到顶部"
                              data-reactid=".0.0"></a>
        <div data-reactid=".0.1"><a class="m-qr" target="_blank" href="/download?act=rdpages_20130925_02"
                                    style="display:none;" data-reactid=".0.1.0"><img
                src="https://yuedu.163.com/images/down/QR_All.png" data-reactid=".0.1.0.0"></a>
            <div class="m-qr-icon" href="javascript:;" style="display:block;right:0px;" data-reactid=".0.1.1"><a
                    class="m-qr-hover" href="/download?act=rdpages_20130925_02" style="display: none; right: 50px;"
                    data-reactid=".0.1.1.0"><img src="https://yuedu.163.com/images/down/QR_All.png"
                                                 data-reactid=".0.1.1.0.0"></a></div>
        </div>
        <a href="/report.do" target="_blank" style="right:0px;" title="举报中心" class="m-report" data-reactid=".0.2"></a>
    </div>
</div>
<div class="m-mask" style="z-index: 8000"></div>
<div class="m-bonus-success"></div>


</body>
<script src="../js/topjs/ursLogin.js"></script>
<script src="../js/topjs/components.js"></script>
<script src="../js/topjs/index.bundle.js"></script>
<script src="../js/author_login_js/vue.min.js"></script>
<script>

    var userId;
    var authorId;
    var userName;
    $(function () {
        userName = sessionStorage.getItem("userName");
        if (userName != undefined) {
            $(".userself").text(userName)
            $(".userself").siblings().remove()
            $(".userself").attr("href", "")
        }
    })

    // 畅销榜
    $(function () {
        $.ajax({
            url: "/getXiaoLiangOrder",
            type: "post",
            dataType: "json",
            success: function (data) {
                mv9 = new Vue({
                    el: "#bestseller",
                    data: {
                        rankList: data,
                    },methods:{
                        bookdetail: function (i) {
                            sessionStorage.setItem("bookId", i);
                            window.location.href = "bookdetail.html";
                        }
                    }
                });
            }
        })
    });
    // 订阅榜
    $(function () {
        $.ajax({
            url: "/getDingYueOrder",
            type: "post",
            dataType: "json",
            success: function (data) {
                mv8 = new Vue({
                    el: "#rankRead",
                    data: {
                        rankRead: data,
                    },methods:{
                        bookdetail: function (i) {
                            sessionStorage.setItem("bookId", i);
                            window.location.href = "bookdetail.html";
                        }
                    }
                });
            }
        })
    });
    // 打赏榜
    $(function () {
        $.ajax({
            url: "/getRewardOrder",
            type: "post",
            dataType: "json",
            success: function (data) {
                mv7 = new Vue({
                    el: "#rankMoney",
                    data: {
                        rankMoney: data,
                    },methods:{
                        bookdetail: function (i) {
                            sessionStorage.setItem("bookId", i);
                            window.location.href = "bookdetail.html";
                        }
                    }
                });
            }
        })
    });

    $("#gongzhonghao").hover(function () {
        $(".m-codelayer").css("display", "block")
    }, function () {
        $(".m-codelayer").css("display", "none")
    })

    $("#gongzhonghao").hover(function () {
        $(".m-codelayer").css("display", "block")
    }, function () {
        $(".m-codelayer").css("display", "none")
    })

    $("input[name='find']").click(function () {
        var key = $("input[name='key']").val();
        if (key != "" && key != "输入不能为空！") {
            sessionStorage.setItem("key", key);
            window.location.href = "search.html";
        } else {
            $("input[name='key']").val("输入不能为空！");
        }
    })

    $(".m-cloudsj").click(function () {
        sessionStorage.getItem("userId", userId);
        if (userId == undefined) {
            window.location.href = "login.html";
        } else {
            window.location.href = "bookshelf.html";
        }
    })

    $(".authorcontainer").click(function () {
        sessionStorage.getItem("authorId", authorId);
        if (authorId == undefined) {
            window.location.href = "author_login.html";
        } else {
            window.location.href = "";
        }
    })


</script>
</html>