<!DOCTYPE html>
<html xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
    <meta name="applicable-device" content="pc">
    <title>总榜单-网易云阅读</title>
    <meta name="keywords" content="图书排行榜，图书畅销榜,免费图书，新书，好书排行榜top100"/>
    <meta property="qc:admins" content="13454603154561636375"/>
    <meta name="description" content="网易云阅读好书推荐排行榜，推荐当前热门的女性、言情、玄幻、励志、儿童、小说。"/>
    <meta property="wb:webmaster" content="0e2d310a7690a84c"/>
    <!--    <link rel="shortcut icon" href="//yuedust.yuedu.126.net/favicon.ico?20190908094745" />-->
    <link type="text/css" rel="stylesheet" href="../css/topcss/top1.css"/>
    <link href="../css/ranklist/ranklist.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="../js/topjs/html5shiv.js"></script>
    <![endif]-->
    <script type="text/javascript" src="../js/topjs/libs.js"></script>
</head>
<body id="page-163-com" class="page-index">
<noscript>请使用支持脚本的浏览器！</noscript>

<div class="g-doc">
    <!-- 头部导航 -->
    <div class="g-hdw">
        <div id="J_Header" class="g-hd ">
            <div class="m-topbar">
                <div class="inner f-cb" data-reactid=".3">
                    <div data-reactid=".3.0">
                        <ul class="sns f-cb" data-reactid=".3.0.0">
                            <li data-reactid=".3.0.0.0"><a href="" title="read"
                                                           data-reactid=".3.0.0.0.0">爱阅读</a></li>
                            <li data-reactid=".3.0.0.1"><span class="sep" data-reactid=".3.0.0.1.0">|</span></li>
                            <li data-reactid=".3.0.0.2"><a href="" title="全部作品" data-reactid=".3.0.0.2.0">全部作品</a>
                            </li>
                            <li data-reactid=".3.0.0.5"><span class="sep" data-reactid=".3.0.0.5.0">|</span></li>
                            <li data-reactid=".3.0.0.6"><a href="" title="从电脑上导入书籍"
                                                           data-reactid=".3.0.0.6.0">从电脑上导入书籍</a></li>
                            <li data-reactid=".3.0.0.7"><span class="sep" data-reactid=".3.0.0.7.0">|</span></li>
                            <li data-reactid=".3.0.0.8"><a href="" title="公众号"
                                                           data-reactid=".3.0.0.8.0">公众号</a></li>
                            <li data-reactid=".3.0.0.9"><span class="sep" data-reactid=".3.0.0.9.0">|</span></li>
                            <li data-reactid=".3.0.0.a"><a href="" title="渠道推广平台"
                                                           target="_blank" data-reactid=".3.0.0.a.0">渠道推广平台</a></li>
                        </ul>
                        <div class="m-codelayer" style="display: none; left: 309px;" data-reactid=".3.0.1"><img
                                src="../images/topimages/weixin.png"
                                data-reactid=".3.0.1.0"></div>
                    </div>
                    <div data-reactid=".3.1">
                        <div class="ulink j-ulink" data-reactid=".3.1.0"><a target="_blank" title="登录"
                                                                            data-reactid=".3.1.0.0" href="">登录</a><span
                                class="sep" data-reactid=".3.1.0.1">|</span><a target="_blank" title="注册"
                                                                               data-reactid=".3.1.0.2" href="">注册</a>
                        </div>
                        <noscript data-reactid=".3.1.1"></noscript>
                    </div>
                </div>
            </div>
            <div class="m-headertop">
                <div class="inner">
                    <h1 class="m-logo"><a href="/">爱阅读</a></h1>
                    <div class="m-sch">
                    </div>
                    <!--                    搜索-->

                    <div id="first_2_3_1">
                        <input name="key" type="text" style="width: 425px; height: 26px" id="i1">
                        <a href="search.html">
                            <input name="find" type="button" value=" " style="width: 58px; height: 34px" id="i2">
                        </a>
                    </div>

                    <div class="m-clouds">
                        <a class="m-cloudsj" href="/shelf.do?operation=query_current" target="_blank">我的书架</a>
                    </div>
                </div>
            </div>
            <div class="m-headerbottom">
                <div class="inner">
                    <ul class="m-mianlist">
                        <li><a class="crt" href="/html/top.html">首页</a></li>
                        <li><a class="" href="">全部作品</a></li>
                        <li><a class="" href="">排行榜</a></li>
                        <li class="fr"><a href=""><b class="icon-recharge"></b>充值</a></li>
                        <li class="fr"><a href=""><b class="icon-open"></b>作者中心</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="g-bdw g-bdw-1">
    <div class="g-bd yd-grid2col-page g-bd-large">
        <div class="g-bdc yd-book-page yd-book-rank-page">
            <div class="g-sd j-accordion j-affix" data-offset-top="201">
                <dl class="multi">
                    <dt style="background-color:#f4f4f4;">
                        <a href="/rank" style="color:#c9483c;" title="总榜单"><strong>总榜单</strong></a>
                    </dt>
                </dl>


            </div>
            <div class="g-mn">
                <div class="g-mnc yd-book-rank-container yd-rank-container yd-grid2col-standard-container">
                    <h2 class="m-bang-list-head"></h2>
                    <div class="m-bang-list-wrap contents yd-rank-content f-cb">
                        <div class="m-bang-list m-bang-list-l">
                            <div class="wrap">
                                <div class="tabs">
                                    <h3>畅销榜</h3>
                                    <ul>
                                        <li class=""><a href="javascript:;">日榜</a></li>
                                        <li class=""><a href="javascript:;">周榜</a></li>
                                        <li class=""><a href="javascript:;">月榜</a></li>
                                        <li class="ll "><a href="javascript:;" class="red">总榜</a></li>
                                    </ul>
                                </div>
                                <div id="bestseller">
                                <div class="contents" >
                                    <div class="tab-item m-foldlist" v-for="(rankList,index5) in rankList">
                                        <ul class="" >
                                            <li>
                                                <p class="fold" style="display:none;">
                                                    <a href=""
                                                       target="_blank">
                                                        <i>
                                                            {{index5+1}}
                                                        </i>{{rankList.bookName}}
                                                    </a>
                                                </p>
                                                <div class="unfold" >
                                                    <i>{{index5+1}}</i>
                                                    <a class="img"
                                                       href=""><img
                                                            src="https://easyreadfs.nosdn.127.net/W8G7eyJidq7QrCnL6Cdk6g==/8796093024742103509"
                                                            target="_blank"></a>
                                                    <h3><a href=""
                                                           target="_blank">{{rankList.bookName}}</a></h3>
                                                    <p>
                                                        <a href=""
                                                           target="_blank">{{rankList.author.authorName}}</a></p>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                    <div class="m-bang-list m-bang-list-m">
                        <div class="wrap">
                            <div class="tabs">
                                <h3>订阅榜</h3>
                                <ul>
                                    <li class=""><a href="javascript:;">日榜</a></li>
                                    <li class=""><a href="javascript:;">周榜</a></li>
                                    <li class=""><a href="javascript:;">月榜</a></li>
                                    <li class="ll"><a href="javascript:;" class="red">总榜</a></li>
                                </ul>
                            </div>
                            <div id="rankRead">
                            <div class="contents">
                                <div class="tab-item m-foldlist" v-for="(rankRead,index6) in rankRead">
                                    <ul class="">
                                        <li>
                                            <p class="fold" style="display:none;">
                                                <a href="" target="_blank">
                                                    <i>
                                                        {{index6+1}}
                                                    </i>{{rankRead.bookName}}
                                                </a>
                                            </p>
                                            <div class="unfold">
                                                <i>{{index6+1}}</i>
                                                <a class="img" href=""><img
                                                        src="https://easyreadfs.nosdn.127.net/oGIUJSIydhwStPdIAsRy-g==/8796093023791663472"
                                                        target="_blank"></a>
                                                <h3><a href=""
                                                       target="_blank">{{rankRead.bookName}}</a></h3>
                                                <p>
                                                    <a href=""
                                                       target="_blank">{{rankRead.author.authorName}}</a></p>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>
                    <div class="m-bang-list m-bang-list-r">
                        <div class="wrap">
                            <div class="tabs">
                                <h3>打赏榜</h3>
                                <ul>
                                    <li class=""><a href="javascript:;">日榜</a></li>
                                    <li class=""><a href="javascript:;">周榜</a></li>
                                    <li class=""><a href="javascript:;">月榜</a></li>
                                    <li class="ll"><a href="javascript:;" class="red">总榜</a></li>
                                </ul>
                            </div>
                            <div id="rankMoney">
                            <div class="contents">
                                <div class="tab-item m-foldlist" v-for="(rankMoney,index1) in rankMoney">
                                    <ul class="">
                                        <li>
                                            <p class="fold" style="display:none;">
                                                <a href="" target="_blank">
                                                    <i>
                                                        {{index1+1}}
                                                    </i>{{rankMoney.bookName}}
                                                </a>
                                            </p>
                                            <div class="unfold">
                                                <i>{{index1+1}}</i>
                                                <a class="img" href=""><img
                                                        src="https://easyreadfs.nosdn.127.net/oGIUJSIydhwStPdIAsRy-g==/8796093023791663472"
                                                        target="_blank"></a>
                                                <h3><a href=""
                                                       target="_blank">{{rankMoney.bookName}}</a></h3>
                                                <p>
                                                    <a href=""
                                                       target="_blank">{{rankMoney.author.authorName}}</a></p>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>

</body>
<script src="../js/author_login_js/vue.min.js"></script>
<script>

    // 畅销榜
    $(function () {
        $.ajax({
            url: "http://localhost:8080/getXiaoLiangOrder",
            type: "post",
            dataType: "json",
            success: function (data) {
                mv9 = new Vue({
                    el: "#bestseller",
                    data: {
                        rankList: data,
                    },
                });
              alert(mv.rankList.authorName)
            }
        })
    });
// 订阅榜
    $(function () {
        $.ajax({
            url: "http://localhost:8080//getDingYueOrder",
            type: "post",
            dataType: "json",
            success: function (data) {
                mv8 = new Vue({
                    el: "#rankRead",
                    data: {
                        rankRead: data,
                    },
                });
                alert(mv8.rankRead)
            }
        })
    });
// 打赏榜
    $(function () {
        $.ajax({
            url: "http://localhost:8080//getRewardOrder",
            type: "post",
            dataType: "json",
            success: function (data) {
                mv7 = new Vue({
                    el: "#rankMoney",
                    data: {
                        rankMoney: data,
                    },
                });
                alert(mv7.rankMoney)
            }
        })
    });


</script>
</html>