<!DOCTYPE html>
<html xmlns:v-bind="http://www.w3.org/1999/xhtml">
<html lang="en">
<head>
    <script async=""
            src="https://iad.g.163.com/wa/ad_check?site=netease&amp;affiliate=yuedu&amp;cat=web&amp;type=yyd_wap_banner&amp;location=1&amp;callback=adCallback&amp;_=1568467082417"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>遨游天际-不以以波-电子书-在线阅读-国风中文网</title>
    <meta name="Keywords" content="遨游天际，不以以波，玄幻，争霸，最新章节，全文阅读，在线阅读">
    <meta name="Description" content="遨游天际，他原本只是一介平凡之人，不料被人赶入了莫离异地。
一次意外，让他走入了一个神奇之世界。
最后他发现一惊天之谜。
他，踏破九天，寻真人解惑，怎奈一切都是一场梦境。
最终踏出天道，走入另一世界，继续寻找着心中的执念。">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="no-cache" http-equiv="Pragma">
    <link rel="stylesheet" type="text/css" href="../css/readcss/read2.css">
    <link href="../css/readcss/read1.css" type="text/css" rel="stylesheet">
    <script type="text/javascript" src="../js/readjs/read1.js"></script>
    <script type="text/javascript" async=""
            src="../js/readjs/read2.js"></script>
    <script type="text/javascript" async="" src="../js/readjs/read3.js"></script>
    <link charset="utf-8" rel="stylesheet"
          href="../css/readcss/read3.css">
    <link type="text/css" rel="stylesheet" href="../css/readcss/read4.css">
    <script type="text/javascript" src="../js/readjs/read4.js"></script>
</head>
<body>
<div id="J_Player" class="player-container skin-normal" style="display: block;">
    <div class="aside" id="J_Aside" style="left: 0px;">
        <div class="booktitle">
            <h1><a href="" target="_blank" title="遨游天际">{{book.bookName}}</a></h1>
            <div class="pic"><a href="" target="_blank"><img
                    v-bind:src="book.bookImg"
                    alt="遨游天际"></a></div>
        </div>

        <ul class="getbook">


            <li class="ebook-buy j-getbook"><a href="#" class="btn-red">购买</a></li>

            <li class="put-shelf j-getbook"><a href="#" class="btn-gray">放入书架</a></li>


        </ul>

        <ul class="userop">
            <li class="share-trigger"><i></i><a href="#" class="J_YueduSNS">分享</a></li>


        </ul>

        <ul class="other-plat">
            <!--<li class="mobile"><i></i><a target="_blank" href="/client">手机上阅读</a></li>-->

            <li class="theme-trigger"><i class="icon"></i><a href="#">主题模式</a><i class="angle"></i></li>
            <li class="scan-code"><a href="/client?act=rdbookreader_20130924_02" target="_blank"></a></li>
        </ul>
        <div id="J_AddShelfPop" class="shelf-pop">
            <i class="close">关闭</i>
            <p>是否把本书放入书架</p>
            <p><a href="#" class="add">放入书架</a><a href="#" class="cancel">取消</a></p>
        </div>
        <div class="aside-trigger"><a class="open" id="J_AsideTrigger"></a></div>
        <div id="J_Forward" class="share r-hide">
            <div class="inner">
                <div class="topbar">
                    <h5>顺便说几句</h5><a id="J_CmtSwitch" class="j-close"></a><span class="wrap"><span id="J_Words">0</span> / 140</span>
                </div>
                <form id="publishForm" action="/weibo.do" method="post">
                    <div class="txt-input">
                        <textarea id="J_ForTxt" name="message"></textarea>
                    </div>

                </form>
            </div>
        </div>
        <div id="J_Theme" class="theme r-hide" style="top: 330px">
            <a href="#" class="J_Light" data-theme="1000">日间模式</a>
            <a href="#" class="J_Dark" data-theme="1004">夜间模式</a>
            <a href="#" class="J_Normal on" data-theme="1001">经典模式</a>
            <a href="#" class="J_Green" data-theme="1003">护眼模式</a>
            <a href="#" class="J_Pink" data-theme="1002">女性模式</a>
            <i></i>
        </div>
    </div>
    <div class="panel" id="J_Panel">
        <div id="adTopBanner"></div>
        <div class="chapter-title" id="J_ChapterTitle">第三章真龙铠</div>
        <ul class="panel-list" id="J_BookPanel">
            <li class="cata-trigger"><a id="J_CatalogueTrigger" title="目录">目录</a>
                <div class="J_GuideDemo_1 J_GuideDemo_2"><em></em>目录</div>
            </li>
            <li class="model-trigger"><a id="J_TurnModelTrigger" title="阅读方式" class="horizontal">阅读方式</a>
                <div class="J_GuideDemo_1 J_GuideDemo_2"><em></em>阅读方式</div>
            </li>
            <li class="jump-trigger"><a id="J_JumpPageTrigger" title="跳转">跳转</a>
                <div class="J_GuideDemo_1 J_GuideDemo_2"><em></em>阅读进度</div>
            </li>
            <li class="font-trigger"><a id="J_FontSizeTrigger" title="字号">字号</a>
                <div class="J_GuideDemo_1 J_GuideDemo_2"><em></em>字体大小</div>
            </li>
            <li class="help-trigger"><a id="J_HelpTipsTrigger" title="帮助">帮助</a></li>
            <li class="bookmark-trigger"><a id="J_BookMarkTrigger" title="书签">书签</a>
                <div class="J_GuideDemo_1 J_GuideDemo_2"><em></em>书签</div>
            </li>
            <li class="home-trigger"><a id="J_GoHomeTrigger" title="返回">返回</a>
                <div class="J_GuideDemo_1 J_GuideDemo_2"><em></em>频道首页</div>
            </li>
        </ul>
        <div class="catalogue r-hide" id="J_Catalogue"></div>
        <div class="bookmark r-hide" id="J_BookMark" style="height: 380px;">
            <i class="angle"></i>
            <i class="close J_Close"></i>
            <div class="add J_Add"><a href="#">将本页加入书签</a></div>
            <ul class="list J_BookmarkList" style="height: 212px;"></ul>
            <div class="J_Pager"></div>
        </div>
        <div class="jumppage r-hide" id="J_JumpPage">
            <i class="angle"></i>
            <p>到<input type="text" name=""><span>%</span><a href="#">确定</a></p>
        </div>
        <div class="font r-hide" id="J_Font">
            <i class="angle"></i>
            <ul>
                <li class="font16"><a href="#">14号</a></li>
                <li class="font18"><a href="#">16号</a></li>
                <li class="font20"><a href="#">18号</a></li>
                <li class="font24"><a href="#">22号</a></li>
            </ul>
        </div>
        <div id="J_Help" class="help">
            <dl class="J_GuideDemo_1">
                <dt>快捷键</dt>
                <dd>
                    <ul>
                        <li><span class="key-name">全屏阅读</span><span class="key-icon f11">f11</span></li>
                        <li><span class="key-name">翻页</span><span class="key-icon prev">向前</span><span
                                class="key-icon next">向后</span></li>
                    </ul>
                    <div><a href="#" class="close J_Close">我知道了</a></div>
                </dd>
            </dl>
            <dl class="J_GuideDemo_2">
                <dt>快捷键</dt>
                <dd>
                    <ul>
                        <li><span class="key-name">全屏阅读</span><span class="key-icon f11">f11</span></li>
                        <li><span class="key-name">上下滚动</span><span class="key-icon down">向下</span><span
                                class="key-icon up">向上</span></li>
                        <li><span class="key-name">上下翻页</span><span class="key-icon pagedown">pagedown</span><span
                                class="key-icon pageup">pageup</span></li>
                    </ul>
                    <div><a href="#" class="close J_Close">我知道了</a></div>
                </dd>
            </dl>
            <i class="angle"></i>
        </div>
    </div>
    <div class="unsupported" id="J_Unsupported">
        <div>该书暂不支持在电脑端阅读。请<a href="/client">下载安装客户端</a>
            <p><a href="/download" target="_blank" class="code"
                  onclick="_gaq.push(['_trackEvent', 'download', 'mid2codedownload','bookreader']);"></a></p>
        </div>
    </div>
    <div class="horizontal-player" id="J_Horizontal" style="display: block; height:100%;">
        <div class="prev-turn J_PrevTurn"><a href="javascript:void(0)" hidefocus="true"></a></div>
        <div class="article-wrap">
            <div class="article J_Article">
                <div class="article-content" style="height: 530px;">
                    <div class="horizontal-page-box J_HorizontalMoveBox"
                         style="width: 1380px; font-size: 22px; left: 0px;">
                        <div class="page-item J_PageItem" style="height: 530px;">
                            <div class="ne-content J_NEContent" style="">
                                <h1 class="section j-chapter yd-paragraph-c yd-marbom-20 yd-lineheight-3 "
                                    data-paragraphid="1e13f5383c7d47778815952cf30d444c_5" data-titlelevel="1" v-if="booktext.pageNum == 1">
                                第{{booktext.chapterSort}}章 {{booktext.chapterName}}</h1>
                                <p class="section yd-marbom-20 yd-lineheight-3 "
                                   data-paragraphid="e9aac89ebcc54128ad8b474380ba4ed7_p" v-for="(text,index) in booktext.paragraphList">
                                    {{text}}</p>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="next-turn J_NextTurn"><a href="javascript:void(0)" hidefocus="true" class=""></a></div>
    </div>
    <div class="portrait-player" id="J_Portrait">
        <div class="page-style">
            <div class="top-stone"></div>
            <div class="article J_Article">
                <div class="portrait-page-box J_PortraitMoveBox"></div>
            </div>
        </div>
    </div>
    <div class="book-recommand" id="J_BookRecommand" style="right: 0px; display: block;">
        <dl>
            <dt>作者其他作品</dt>
            <dd>
                <ul class="editorrecommend">

                    <li v-for="(otherbook, otherindex) in otherbooks" v-if="otherindex < 3">
                        <h5><a target="_blank"
                               href=""
                               title="大汉光武">{{otherbook.bookName}}</a></h5>
                        <div class="price"></div>
                        <div class="cover"><a target="_blank"
                                              href="http://guofeng.yuedu.163.com/source/a2a4841d50e04a31a6185becd23ff999_4"
                                              title="大汉光武"><img
                                v-bind:src="otherbook.bookImg"
                                alt="大汉光武"></a></div>
                    </li>

                </ul>
            </dd>
        </dl>
        <div class="recommand-trigger"><a class="open" id="J_RecommandTrigger"></a></div>
    </div>
</div>

<script src="../js/topjs/jquery-3.4.1.js"></script>
<script src="../js/topjs/vue.min.js"></script>
<script>

    var userId = 1;
    var bookId = 5;
    var chapterId = null;
    var pageNum = null;

    var mv2 = new Vue({
        el: '.editorrecommend',
        data: {
            otherbooks: {},
        }
    })

    var mv1 = new Vue({
        el: '.booktitle',
        data: {
            book: {},
        },
        created: function () {
            $.ajax({
                url: "http://localhost:8080/getBooksInfoById",
                type: "post",
                data: {bookId: 5},
                datatype: "json",
                success: function (data) {
                    mv1.book = data;
                    $.ajax({
                        url: "http://localhost:8080/author/getAllBooksByAuthorId",
                        type: "post",
                        data: {authorId: mv1.book.author.authorId},
                        datatype: "json",
                        success: function (data) {
                            mv2.otherbooks = data;
                        }
                    })
                }
            })
        }
    })

    var mv3 = new Vue({
        el: '.article-content',
        data: {
            booktext: {},
        },
        created: function () {
            $.ajax({
                url: "http://localhost:8080/getbooxtxt",
                type: "post",
                data: {userId: userId, bookId: bookId, chapterId: chapterId, pageNum: pageNum},
                datatype: "json",
                success: function (data) {
                    mv3.booktext = data;
                }
            })
        }
    })

    $(".prev-turn").click(function () {
        chapterId = mv3.booktext.chapterSort;
        pageNum = mv3.booktext.pageNum;
        if(pageNum - 1 > 0){
            chapterId = null;
            pageNum = pageNum - 1;
        }else{
            if(chapterId - 1 > 0){
                pageNum = null;
                chapterId = chapterId - 1;
            }
        }
        $.ajax({
            url: "http://localhost:8080/getbooxtxt",
            type: "post",
            data: {userId: userId, bookId: bookId, chapterId: chapterId, pageNum: pageNum},
            datatype: "json",
            success: function (data) {
                mv3.booktext = data;
            }
        })
    })

    $(".next-turn").click(function () {
        chapterId = mv3.booktext.chapterSort;
        pageNum = mv3.booktext.pageNum;
        if(pageNum + 1 <= mv3.booktext.totalPageNum){
            chapterId = null;
            pageNum = pageNum + 1;
        }else{
            pageNum = null;
            chapterId = chapterId + 1;
        }
        $.ajax({
            url: "http://localhost:8080/getbooxtxt",
            type: "post",
            data: {userId: userId, bookId: bookId, chapterId: chapterId, pageNum: pageNum},
            datatype: "json",
            success: function (data) {
                mv3.booktext = data;
            }
        })
    })

    $("#J_AsideTrigger").click(function () {
        if($(this).attr("class") == "close"){
            $("#J_Aside").css("left","0");
            $(this).removeClass("close");
            $(this).addClass("open")
        } else if($(this).attr("class") == "open"){
            $("#J_Aside").css("left","-140px");
            $(this).removeClass("open");
            $(this).addClass("close")
        }
    })
    $("#J_RecommandTrigger").click(function () {
        if($(this).attr("class") == "close"){
            $("#J_BookRecommand").css("right","0");
            $(this).removeClass("close");
            $(this).addClass("open")
        } else if($(this).attr("class") == "open"){
            $("#J_BookRecommand").css("right","-140px");
            $(this).removeClass("open");
            $(this).addClass("close")
        }
    })
    $(".theme-trigger").click(function () {
        if($("#J_Theme").attr("class") == "theme r-hide"){
            $("#J_Theme").addClass("r-show");
        }else{
            $("#J_Theme").removeClass("r-show");
        }
    })
    $(".J_Green").click(function () {
        if($(this).attr("class") == "J_Green"){
            $(this).siblings().removeClass("on");
            $(this).addClass("on")
            $("#J_Player").removeClass();
            $("#J_Player").addClass("player-container skin-green")
        }
    })
    $(".J_Normal").click(function () {
        if($(this).attr("class") == "J_Normal"){
            $(this).siblings().removeClass("on");
            $(this).addClass("on")
            $("#J_Player").removeClass();
            $("#J_Player").addClass("player-container skin-normal")
        }
    })
    $(".J_Pink").click(function () {
        if($(this).attr("class") == "J_Pink"){
            $(this).siblings().removeClass("on");
            $(this).addClass("on")
            $("#J_Player").removeClass();
            $("#J_Player").addClass("player-container skin-pink")
        }
    })
    $(".J_Dark").click(function () {
        if($(this).attr("class") == "J_Dark"){
            $(this).siblings().removeClass("on");
            $(this).addClass("on")
            $("#J_Player").removeClass();
            $("#J_Player").addClass("player-container skin-dark")
        }
    })
    $(".J_Light").click(function () {
        if($(this).attr("class") == "J_Light"){
            $(this).siblings().removeClass("on");
            $(this).addClass("on")
            $("#J_Player").removeClass();
            $("#J_Player").addClass("player-container skin-light")
        }
    })
</script>
</body>
</html>