<!DOCTYPE html>
<html xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
    <meta name="applicable-device" content="pc">
    <title>爱阅读--图书、免费小说，免费畅读</title>
    <meta name="keywords" content="小说，免费小说，热门小说，言情小说，小说下载，漫画，图书，热点新闻，好文章，电子书，免费杂志，网易，阅读，网易云阅读">
    <meta name="description"
          content="网易云阅读提供丰富的原创小说、畅销好书、热门新闻和文章免费在线阅读和下载。包括文学、传记、艺术、经济管理，官场小说、都市小说、言情小说，热血漫画，旅游、电影杂志等。手机上支持Android、iPhone、iPad、Android Pad、Windows Phone、Windows8等多平台免费下载！">
    <meta name="baidu-site-verification" content="e6ugMtwRnP"/>
    <!--    <link rel="shortcut icon" href="//yuedust.yuedu.126.net/favicon.ico?20190908094745" />-->
    <link type="text/css" rel="stylesheet" href="../css/topcss/top1.css"/>
    <!--[if lt IE 9]>
    <script src="../js/topjs/html5shiv.js"></script>
    <![endif]-->
    <script type="text/javascript" src="../js/topjs/libs.js"></script>
</head>
<body id="page-163-com" class="page-index">
<noscript>请使用支持脚本的浏览器！</noscript>
<div class="g-doc">
    <!-- 头部导航 -->
    <div class="g-hdw">
        <div id="J_Header" class="g-hd ">
            <div class="m-topbar">
                <div class="inner f-cb" data-reactid=".3">
                    <div data-reactid=".3.0">
                        <ul class="sns f-cb" data-reactid=".3.0.0">
                            <li data-reactid=".3.0.0.0"><a href="" title="read"
                                                           data-reactid=".3.0.0.0.0">爱阅读</a></li>
                            <li data-reactid=".3.0.0.1"><span class="sep" data-reactid=".3.0.0.1.0">|</span></li>
                            <li data-reactid=".3.0.0.2"><a href="" title="全部作品" data-reactid=".3.0.0.2.0">全部作品</a>
                            </li>
                            <li data-reactid=".3.0.0.5"><span class="sep" data-reactid=".3.0.0.5.0">|</span></li>
                            <li data-reactid=".3.0.0.6"><a href="" title="从电脑上导入书籍"
                                                           data-reactid=".3.0.0.6.0">从电脑上导入书籍</a></li>
                            <li data-reactid=".3.0.0.7"><span class="sep" data-reactid=".3.0.0.7.0">|</span></li>
                            <li data-reactid=".3.0.0.8"><a href="" title="公众号"
                                                           data-reactid=".3.0.0.8.0">公众号</a></li>
                            <li data-reactid=".3.0.0.9"><span class="sep" data-reactid=".3.0.0.9.0">|</span></li>
                            <li data-reactid=".3.0.0.a"><a href="" title="渠道推广平台"
                                                           target="_blank" data-reactid=".3.0.0.a.0">渠道推广平台</a></li>
                        </ul>
                        <div class="m-codelayer" style="display: none; left: 309px;" data-reactid=".3.0.1"><img
                                src="../images/topimages/weixin.png"
                                data-reactid=".3.0.1.0"></div>
                    </div>
                    <div data-reactid=".3.1">
                        <div class="ulink j-ulink" data-reactid=".3.1.0"><a target="_blank" title="登录"
                                                                            data-reactid=".3.1.0.0" href="">登录</a><span
                                class="sep" data-reactid=".3.1.0.1">|</span><a target="_blank" title="注册"
                                                                               data-reactid=".3.1.0.2" href="">注册</a>
                        </div>
                        <noscript data-reactid=".3.1.1"></noscript>
                    </div>
                </div>
            </div>
            <div class="m-headertop">
                <div class="inner">
                    <h1 class="m-logo"><a href="/">爱阅读</a></h1>
                    <div class="m-sch">
                    </div>
                    <!--                    搜索-->

                    <div id="first_2_3_1">
                        <input name="key" type="text" style="width: 425px; height: 26px" id="i1">
                        <a href="search.html">
                            <input name="find" type="button" value=" " style="width: 58px; height: 34px" id="i2">
                        </a>
                    </div>

                    <div class="m-clouds">
                        <a class="m-cloudsj" href="/shelf.do?operation=query_current" target="_blank">我的书架</a>
                    </div>
                </div>
            </div>
            <div class="m-headerbottom">
                <div class="inner">
                    <ul class="m-mianlist">
                        <li><a class="crt" href="/top.html">首页</a></li>
                        <li><a class="" href="">全部作品</a></li>
                        <li><a class="" href="">排行榜</a></li>
                        <li class="fr"><a href=""><b class="icon-recharge"></b>充值</a></li>
                        <li class="fr"><a href=""><b class="icon-open"></b>作者中心</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>    <!-- 主题内容 -->
    <div class="g-bdw">
        <div class="g-bd g-bd-large">
            <div class="g-sec f-cb" style="margin-top:17px;">
                <div id="J_Slider01" class="m-slider m-slider-idx">
                    <div class="slider">
                        <ul class="j-slider">
                            <li><a href="    https://yuedu.163.com/source/2adcfaa45c74420da2d75729498b068a_4
    " target="_blank" data-model="ad" data-opration="ad_index" title="狐鬼启示录"><img
                                    src="//cms-bucket.ws.126.net/2019/09/05/fb599e6ff40c4eae9f8e5cedcefc2058.jpeg"
                                    alt="狐鬼启示录"/></a></li>
                            <li><a href="    https://yuedu.163.com/source/21cfd86f417f4dfa98159b76f6ba3280_4
    " target="_blank" data-model="ad" data-opration="ad_index" title="南京传"><img
                                    src="//cms-bucket.ws.126.net/2019/09/05/ed886850f8234e9da032822f183c6d22.png"
                                    alt="南京传"/></a></li>
                            <li><a href="    https://yuedu.163.com/source/ecbe646b7c504380a916a618cebea25d_4
    " target="_blank" data-model="ad" data-opration="ad_index" title="戴建业精读世说新语"><img
                                    src="//cms-bucket.ws.126.net/2019/09/05/85202c2ea48c4566b631563368a87537.jpeg"
                                    alt="戴建业精读世说新语"/></a></li>
                            <li><a href="    https://m.yuedu.163.com/cms/1080/solicitArticle.html
    " target="_blank" data-model="ad" data-opration="ad_index" title="庆祝新中国成立70周年大型征文活动"><img
                                    src="//cms-bucket.ws.126.net/2019/08/06/f87bac5bb84646f99d7d945e86a65d11.jpeg"
                                    alt="庆祝新中国成立70周年大型征文活动"/></a></li>
                        </ul>
                    </div>
                    <a class="btn left-btn j-cl" href="#"></a>
                    <a class="btn right-btn j-cr" href="#"></a>
                    <div class="control">
                        <ol class="j-control">
                            <li><span>1</span><em>&bull;</em></li>
                            <li><span>2</span><em>&bull;</em></li>
                            <li><span>3</span><em>&bull;</em></li>
                            <li><span>4</span><em>&bull;</em></li>
                        </ol>
                    </div>
                </div>
                <div id="J_MM" class="m-menu">
                    <div v-for="(fathertype,indexx) in fathertypes">
                        <div class="category">
                            <div class="sub">
                                <h3 class="fl">{{fathertype.firstSelect.booktypeName}}</h3>
                                <p>
                                    <a href="" target="_blank" data-model="index"
                                       data-opration="man" v-for="(type1, index1) in fathertype.secondSelect"
                                       v-if="index1 < 2">{{type1.booktypeName}}</a>
                                    <a class="ll" href="" target="_blank" data-model="index"
                                       data-opration="man" v-for="(type2, index2) in fathertype.secondSelect"
                                       v-if="index2 == 2">{{type2.booktypeName}}</a>
                                </p>
                                <p>
                                    <a href="" target="_blank" data-model="index"
                                       data-opration="man" v-for="(type3, index3) in fathertype.secondSelect"
                                       v-if="index3 > 2 && index3 < 5">{{type3.booktypeName}}</a>
                                    <a class="ll" href="" target="_blank" data-model="index"
                                       data-opration="man" v-for="(type4, index4) in fathertype.secondSelect"
                                       v-if="index4 == 5">{{type4.booktypeName}}</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="category">
                        <a href="" target="_blank">
                            <div class="sub">
                                <h3>客户端APP下载</h3>
                                <p style="text-align: left;text-indent: 3px;">
                                    <span style="color:#c9483c;">新用户全场免费畅读5天</span>
                                </p>
                                <p style="text-align: left;text-indent: 3px;">
                                    <span>10w+原创小说</span>&nbsp;&nbsp;|&nbsp;&nbsp;<span>8w+经典出版</span>
                                </p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>

            <div class="g-sec">
                <div class="left">
                    <header><h2>精品小说</h2><a class="more" href="">更多&gt;</a></header>
                    <div id="J_Publish" class="m-book-ten">
                        <div class="tabs">
                        </div>
                        <div class="contents">
                            <div class="tab-item">
                                <ul class="book f-cb">
                                    <li v-for="(book, index) in books" class="bookface"><a href="" target="_blank" data-model="jptu"
                                                                          data-opration="jpts_img"><img v-bind:src="book.bookImg"></a>
                                        <h3><a href="" target="_blank" data-model="jptu" data-opration="jpts_txt">{{book.bookName}}</a>
                                        </h3>
                                        <p>作者：{{book.author.authorName}}</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="right">
                    <header><h2>图书畅销榜</h2></header>
                    <div id="J_PubBang" class="m-foldlist">
                        <ul>
                        </ul>
                        <a class="more" href="/book/rank/sell"><i></i>查看更多</a>
                    </div>
                </div>
            </div>

            <div class="g-sec">
                <header><h2>关于云阅读</h2></header>
                <div class="m-about">
                    <ul class="f-cb">
                        <li class="gz">
                            <span class="icon"></span>
                            <h3>爱阅读</h3>
                            <h6>最受欢迎的阅读产品</h6>
                            <p><span style="float:left;margin-top:3px;">关注我们:</span>
                                <a class="sns wx j-wxwx" href="javascript:;" data-type="ox" data-model="gyyyd"
                                   data-opration="sns"></a>
                                <a class="sns wb j-wbwb" href="javascript:;" data-type="ox" data-model="gyyyd"
                                   data-opration="sns"></a>
                                <a class="sns yx j-yxyx" href="javascript:;" data-type="ox" data-model="gyyyd"
                                   data-opration="sns"></a>
                            </p>
                            <a class="btn j-wxwx" href="javascript:;" data-type="ox" data-model="gyyyd"
                               data-opration="sns">+ 关注</a>
                        </li>
                        <li class="tg">
                            <span class="icon"></span>
                            <h3>作者中心</h3>
                            <h6>原创、自媒体、内容商、漫画</h6>
                            <p>招募作者，福利优厚</p>
                            <a class="btn" target="_blank" href="http://open.yuedu.163.com/" data-model="gyyyd"
                               data-opration="author">&nbsp;投稿 &gt;</a>
                        </li>
                        <li class="fk">
                            <span class="icon"></span>
                            <h3>客服中心</h3>
                            <h6>欢迎反馈宝贵意见给我们</h6>
                            <p alt="限工作时间">客服：0571-89853801</p>
                            <a class="btn" target="_blank" href="http://fankui.163.com/ft/cq.fb?pid=11001"
                               data-model="gyyyd" data-opration="feedback">&nbsp;意见反馈 &gt;</a>
                        </li>
                        <li class="hz">
                            <span class="icon"></span>
                            <h3>商务合作</h3>
                            <h6>欢迎来电洽谈相关合作</h6>
                            <p>影视版权：15957111527<br/>
                                广告：0571-89853126<br/>
                                图书：0571-89852025<br/>
                                内容：<a href="mailto:reader@188.com">reader@188.com</a><br/>
                                合作微信：wyxs001
                            </p>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
        <div class="g-bd-cat">
            <div class="m-index-cat">
                <ul class="f-cb">
                    <li class="fl">
                        <h3>出版图书</h3>
                        <p>
                            <a href="    /book/category/category/2000
    " target="_blank" data-model="more_link" data-opration="ts" title="小说作品">小说作品</a>
                            <a href="    /book/category/category/2300
    " target="_blank" data-model="more_link" data-opration="ts" title="人文社科">人文社科</a>
                            <a href="    /book/category/category/2600
    " target="_blank" data-model="more_link" data-opration="ts" title="成功励志">成功励志</a>
                            <a href="    /book/category/category/2400
    " target="_blank" data-model="more_link" data-opration="ts" title="经济管理">经济管理</a>
                            <a href="    /book/category/category/2800
    " target="_blank" data-model="more_link" data-opration="ts" title="品质生活">品质生活</a>
                            <a href="    /book/category/category/3000
    " target="_blank" data-model="more_link" data-opration="ts" title="计算机">计算机</a>
                            <a href="    /book/category/category/2100
    " target="_blank" data-model="more_link" data-opration="ts" title="文学作品">文学作品</a>
                            <a href="/book/category" target="_blank">更多<i></i></a>
                        </p>
                    </li>
                    <li>
                        <h3>国风中文网</h3>
                        <p>
                            <a href="//guofeng.yuedu.163.com/yc/category/7
" target="_blank" data-model="more_link" data-opration="nxxs" title="都市生活">都市生活</a>
                            <a href="//guofeng.yuedu.163.com/yc/category/1
" target="_blank" data-model="more_link" data-opration="nxxs" title="玄幻仙侠">玄幻仙侠</a>
                            <a href="//guofeng.yuedu.163.com/yc/category/2
" target="_blank" data-model="more_link" data-opration="nxxs" title="科幻奇幻">科幻奇幻</a>
                            <a href="//guofeng.yuedu.163.com/yc/category/3
" target="_blank" data-model="more_link" data-opration="nxxs" title="军事谍战">军事谍战</a>
                            <a href="//guofeng.yuedu.163.com/yc/category/5
" target="_blank" data-model="more_link" data-opration="nxxs" title="悬疑探险">悬疑探险</a>
                            <a href="/yc" target="_blank">更多<i></i></a>
                        </p>
                    </li>
                    <li>
                        <h3>采薇书院</h3>
                        <p>
                            <a href="//caiwei.yuedu.163.com/ycmm/category/8
" target="_blank" data-model="more_link" data-opration="vxxs" title="都市言情">都市言情</a>
                            <a href="//caiwei.yuedu.163.com/ycmm/category/9
" target="_blank" data-model="more_link" data-opration="vxxs" title="穿越架空">穿越架空</a>
                            <a href="//caiwei.yuedu.163.com/ycmm/category/17
" target="_blank" data-model="more_link" data-opration="vxxs" title="种田重生">种田重生</a>
                            <a href="//caiwei.yuedu.163.com/ycmm/category/18
" target="_blank" data-model="more_link" data-opration="vxxs" title="宫斗宅斗">宫斗宅斗</a>
                            <a href="//caiwei.yuedu.163.com/ycmm/category/24
" target="_blank" data-model="more_link" data-opration="vxxs" title="古风古韵">古风古韵</a>
                            <a href="//caiwei.yuedu.163.com/ycmm/category/13
" target="_blank" data-model="more_link" data-opration="vxxs" title="仙侠幻情">仙侠幻情</a>
                            <a href="//caiwei.yuedu.163.com/ycmm/category/22
" target="_blank" data-model="more_link" data-opration="vxxs" title="浪漫青春">浪漫青春</a>
                            <a href="/ycmm" target="_blank">更多<i></i></a>
                        </p>
                    </li>
                    <li class="ll">
                        <h3>杂志</h3>
                        <p>
                            <a href="    //yuedu.163.com/book/category/category/12000/12001
    " target="_blank" data-model="more_link" data-opration="zz" title="国家人文">国家人文</a>
                            <a href="    //yuedu.163.com/book/category/category/12000/12002
    " target="_blank" data-model="more_link" data-opration="zz" title="南方人物">南方人物</a>
                            <a href="    //yuedu.163.com/book/category/category/12000/12047
    " target="_blank" data-model="more_link" data-opration="zz" title="南都周刊">南都周刊</a>
                            <a href="    //yuedu.163.com/book/category/category/12000/12030
    " target="_blank" data-model="more_link" data-opration="zz" title="博客天下">博客天下</a>
                            <a href="    //yuedu.163.com/book/category/category/12000/12119
    " target="_blank" data-model="more_link" data-opration="zz" title="环球科学">环球科学</a>
                            <a href="    //yuedu.163.com/book/category/category/12000/12051
    " target="_blank" data-model="more_link" data-opration="zz" title="南都娱乐">南都娱乐</a>
                            <a href="    //yuedu.163.com/book/category/category/12000/12815
    " target="_blank" data-model="more_link" data-opration="zz" title="凤凰周刊">凤凰周刊</a>
                            <a href="/book/category/category/12000" target="_blank">更多<i></i></a>
                        </p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- 尾部导航 -->
    <div class="g-ftw">
        <div class="g-ft" class="f-cb">
            <div class="m-foot">
                <p class="link">
                    <a href="http://www.163.com" target="_blank">网易首页</a><span class="sep">|</span>
                    <a href="http://gb.corp.163.com/gb/about/overview.html" target="_blank">公司简介</a><span
                        class="sep">|</span>
                    <a href="http://help.163.com/" target="_blank">客户服务</a><span class="sep">|</span>
                    <a href="http://corp.163.com/gb/legal/legal.html" target="_blank">相关法律</a><span class="sep">|</span>
                    <a href="http://sitemap.163.com/" target="_blank">网站导航</a><span class="sep">|</span>
                    <a id="J_Service" href="javascript:void(0);">客服电话</a><span class="sep">|</span>
                    <a href="/help" target="_blank">帮助中心</a><span class="sep">|</span>
                    <a href="http://open.yuedu.163.com/" target="_blank">作者中心</a>
                </p>
            </div>
            <div class="m-right"><p>网易公司版权所有&#169;1997-<span id="j-year">2017</span> &nbsp;&nbsp;网络出版服务许可证（总）网出证（粤）字第030号
                &nbsp;&nbsp;信息网络传播视听节目许可证号1908260 &nbsp;&nbsp;增值电信业务经营许可证 粤B2-20090191</p></div>
            <div class="m-share f-cb">
                <label>分享到：</label>
                <div class="share"><a href="javascript:;" class="s2 j-wxwx" data-type="xo">微信</a></div>
                <div class="share"><a href="javascript:;" class="s4 j-yxyx" data-type="xo">易信</a></div>
                <div class="share"><a id="_share_b_tsina"
                                      href="javascript:(function(){window.open('http://v.t.sina.com.cn/share/share.php?appkey=1560988037&url='+encodeURIComponent('https://yuedu.163.com/')+'&title='+encodeURIComponent('网易云阅读内容丰富、操作便捷，适合作为平时阅读、充电的软件工具，推荐大家都来下载！')+'&pic='+encodeURIComponent('https://yuedust.yuedu.126.net/images/weibo_v3.jpg?2_20120731162723'),'_blank');})()"
                                      class="s1">微博</a></div>
                <div class="share"><a
                        href="javascript:(function(){window.open('http://sns.qzone.qq.com/cgi-bin/qzshare/cgi_qzshare_onekey?site='+encodeURIComponent('网易云阅读官方网站')+'&url='+encodeURIComponent('https://yuedu.163.com/')+'&title='+encodeURIComponent('网易云阅读--随时随地，品质阅读')+'&pics='+encodeURIComponent('https://yuedust.yuedu.126.net/images/weibo_v3.jpg?3_20131202100833')+'&summary='+encodeURIComponent('网易云阅读内容丰富、操作便捷，适合作为平时阅读、充电的软件工具，推荐大家都来下载！'),'_blank');})()"
                        class="s3">QQ空间</a></div>
            </div>

        </div>
    </div>
    <div class="m-pop-qr ma" id="J_WXM" style="display:none;"><a class="close" href="javascript:;"></a></div>
    <div class="m-pop-qr ma2" id="J_YXM" style="display:none;"><a class="close" href="javascript:;"></a></div>
    <div class="m-pop-qr ma3" id="J_WBM" style="display:none;"><a class="close" href="javascript:;"></a></div>
    <div id="J_ServiceNum" class="m-layer m-layer-5" style="display:none;">
        <div class="inner">
            <div class="up"><a href="javascript:void(0);"></a></div>
            <div class="down">
                <p>购买书籍后无法阅读等问题<br/></p>
                <p>可拨打：0571-89853801</p>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        document.getElementById('j-year').innerText = new Date().getFullYear();
    </script>
</div>
<!-- 共用结构 -->
<!-- 右侧悬浮 -->
<div id="J_BonusPack"></div>
<div id="J_rightsidebar">
    <div data-reactid=".0"><a href="javascript:;" class="m-gotop" style="display: block; right: 0px;" title="回到顶部"
                              data-reactid=".0.0"></a>
        <div data-reactid=".0.1"><a class="m-qr" target="_blank" href="/download?act=rdpages_20130925_02"
                                    style="display:none;" data-reactid=".0.1.0"><img
                src="https://yuedu.163.com/images/down/QR_All.png" data-reactid=".0.1.0.0"></a>
            <div class="m-qr-icon" href="javascript:;" style="display:block;right:0px;" data-reactid=".0.1.1"><a
                    class="m-qr-hover" href="/download?act=rdpages_20130925_02" style="display: none; right: 50px;"
                    data-reactid=".0.1.1.0"><img src="https://yuedu.163.com/images/down/QR_All.png"
                                                 data-reactid=".0.1.1.0.0"></a></div>
        </div>
        <a href="/report.do" target="_blank" style="right:0px;" title="举报中心" class="m-report" data-reactid=".0.2"></a>
    </div>
</div>
<div class="m-mask" style="z-index: 8000"></div>
<div class="m-bonus-success"></div>

<script src="../js/topjs/ursLogin.js"></script>
<script src="../js/topjs/components.js"></script>
<script src="../js/topjs/index.bundle.js"></script>
<script src="../js/topjs/jquery-3.4.1.js"></script>
<script src="../js/topjs/vue.min.js"></script>
<script type="text/javascript">
    var mv1 = new Vue({
        el: '#J_MM',
        data: {fathertypes: {}},
        created: function () {
            $.ajax({
                url: "http://localhost:8080/getAllType",
                type: "post",
                data: {},
                datatype: "json",
                success: function (data) {
                    mv1.fathertypes = data;
                }
            })
        }
    })
    var mv2 = new Vue({
        el: '.tab-item',
        data: {books: {}},
        created: function () {
            $.ajax({
                url: "http://localhost:8080/getBooks",
                type: "post",
                data: {},
                datatype: "json",
                success: function (data) {
                    mv2.books = data;
                }
            })
        }
    })
</script>
</body>
</html>