* {
    margin: 0;
    padding: 0;
}

i, em {
    font-style: normal;
}

li {
    list-style: none;
    float: left
}

img {
    border: 0;
    vertical-align: middle;
    height: auto;
    max-width: 100%;
}

button {
    cursor: pointer;
}

a {
    color: #666;
    text-decoration: none;
}

a:hover {
    /* color: #C81623; */
    color: #c81623;
}
baby{
    font-family: "Microsoft YaHei", \5FAE\8F6F\96C5\9ED1, arial, sans-serif;
    font-size: 14px;
    line-height: 24px;
    color: #505156;
}


/*
广告
 */
.footer1{
    margin-right: auto;
    margin-left: 16%;
    float: left;
    background: #f4f4f4;
    padding-bottom: 100px;
    font-size: 16px;
    line-height: 40px;
}

.footer{
    color: #999;
    text-align: center;
    padding: 60px 0 50px;
}

.footer a{margin: 0 18px;}