#header{
    width: 100%;
    height: 100px;
    margin: 0;
}

#header img{
    height: 80px;
    width: 180px;
    margin-left: 170px;
}

#header span{
    font-size: 40px;
    color: #005EA7;
    float: top;
    margin-left: 150px;
}

#daohang{
    width: 200px;
    height: 620px;
    margin-left: 170px;
    float: left;
}

#daohang li{
    border: #E3E4E5 1px solid;
}

#daohang2{
    float: top;
    width: 800px;
    margin-left: 370px;
}

#daohang2 ul{
    width: 800px;
    float: left;
}

#biaoge{
    width: 800px;
    height: 580px;
    float: left;
    background-color: #f8f8ff;
    margin-top: -20px;
}

#biaoge table{
}

.tableHead{
    background-color: #005EA7;
    color: #ffffff;
}

#shouye{
    width: 800px;
    height: 580px;
    float: left;
    background-color: #f8f8ff;
    margin-top: -20px;
}

#shouye span{
    font-size: 40px;
    text-align: center;
    display: block;
    margin-top: 250px;
    color: #E1251B;
    font-weight: bolder;
}

.suoyin{
    width: 300px;
    margin: auto;
    font-size: 30px;
}

.suoyin ul{
    margin-top: 200px;
}

.suoyin li{
    margin-top: 20px;
}

.suoyin a{
    text-decoration: none;
}
#chaxun{
    float: right;
    width: 170px;
}
#shuru{
    height: 20px;
    width: 100px;
}