.g-bdw-1 {
    margin-top: 16px;
}

.m-directory {
    position: relative;
    margin-top: 78px;
    padding-bottom: 60px;
}

.m-directory .title {
    text-align: center;
    color: #4c4c4c;
    font-size: 24px;
}

.m-directory .author {
    text-align: center;
    font-size: 12px;
    line-height: 18px;
    margin-top: 9px;
}

.m-directory .author a {
    color: #6395c7;
}

.m-directory .count {
    position: absolute;
    top: 103px;
    right: 0;
}

.m-directory .count span {
    font-size: 12px;
    color: #888;
}

.m-directory .words {
    margin-left: 10px;
}

.m-directory .directory .title-1 {
    margin-top: 25px;
    font-size: 18px;
    color: #000;
    line-height: 48px;
}

.m-directory .directory .single {
    padding-top: 33px;
}

.m-directory .directory .single .area {
    margin-top: 40px;
}

.m-directory .directory .area {
    border: 1px solid #ebe6e1;
}

.m-directory .directory .nocontent {
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #a8a8a8;
}

.m-directory .directory .item {
    float: left;
    border-right: 1px solid #ebe6e1;
    width: 325px;
    height: 40px;
    line-height: 40px;
    overflow: hidden;
}

.m-directory .directory .odd {
    background-color: #fbfbfb;
}

.m-directory .directory .item:hover {
    background-color: #ebebeb;
}

.m-directory .directory li.last {
    border-right: 0;
    width: 326px;
}

.m-directory .directory .item span {
    display: inline-block;
    float: left;
    *display: inline;
    *zoom: 1;
    color: #655;
    font-size: 14px;
}

.m-directory .directory .item .title-2 {
    padding-left: 14px;
    width: 214px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.m-directory .directory .item .time {
    width: 54px;
    text-align: right;
    padding: 0 14px 0 0;
    color: #a8a8a8;
}

.m-directory .directory .vip span {
    color: #a8a8a8;
}

.m-directory .directory .item .sep {
    width: 29px;
    height: 40px;
    text-indent: -9999px;
}

.m-directory-bookdetail {
    margin-top: 36px;
    padding-bottom: 0;
}

.m-directory-bookdetail .menu li {
    float: left;
    font-size: 18px;
    color: #000;
    font-weight: bold;
}

.m-directory-bookdetail .menu .crt {
    color: #c9483c;
}

.m-directory-bookdetail .menu .sep {
    padding: 3px 19px;
    font-size: 12px;
    color: #d9d9d9;
}

.m-directory-bookdetail .menu span {
    font-size: 12px;
    color: #888;
    font-weight: normal;
}

.m-directory-bookdetail .directory {
    margin-top: 15px;
    padding: 0;
    border: 1px solid #ebe6e1;
}

.m-directory-bookdetail .directory .title-1, .m-directory-bookdetail .directory .title-2 {
    height: 40px;
    width: 100%;
    margin-top: 0;
    line-height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.m-directory-bookdetail .directory .title-1 span {
    padding-left: 27px;
    color: #332a2a;
    font-size: 16px;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAAMCAIAAAAoHJA9AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyJpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMy1jMDExIDY2LjE0NTY2MSwgMjAxMi8wMi8wNi0xNDo1NjoyNyAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNiAoV2luZG93cykiIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6OUE1Q0UwODZFN0Q4MTFFNDkyRjFGMUFBOEMwOTVENEIiIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6OUE1Q0UwODdFN0Q4MTFFNDkyRjFGMUFBOEMwOTVENEIiPiA8eG1wTU06RGVyaXZlZEZyb20gc3RSZWY6aW5zdGFuY2VJRD0ieG1wLmlpZDo5QTVDRTA4NEU3RDgxMUU0OTJGMUYxQUE4QzA5NUQ0QiIgc3RSZWY6ZG9jdW1lbnRJRD0ieG1wLmRpZDo5QTVDRTA4NUU3RDgxMUU0OTJGMUYxQUE4QzA5NUQ0QiIvPiA8L3JkZjpEZXNjcmlwdGlvbj4gPC9yZGY6UkRGPiA8L3g6eG1wbWV0YT4gPD94cGFja2V0IGVuZD0iciI/PqDeCBcAAAA9SURBVHjaYny8YObLjWvE/UMYT3nZ/f/3j5GFlQlIMTAw/P/zm4kBBihiMTKBOCCTJcOimTk5JUMiAAIMAF8kES4wO/fGAAAAAElFTkSuQmCC) 19px 3px no-repeat;
}

.m-directory-bookdetail .directory .title-2 span {
    padding-left: 40px;
    color: #655;
    font-size: 14px;
}

.m-directory-bookdetail .directory .title-1.vip span, .m-directory-bookdetail .directory .title-2.vip span {
    color: #a8a8a8;
}

.m-directory-bookdetail .directory .title-1 span.sep, .m-directory-bookdetail .directory .title-2 span.sep {
    background: none;
}

.m-directory-bookdetail .directory .title-1:hover, .m-directory-bookdetail .directory .title-2:hover {
    background-color: #ebebeb;
}

.m-directory-bookdetail .directory .item, .m-directory-bookdetail .directory li.last {
    border-right: 0;
    width: 50%;
}

.m-directory-bookdetail .directory .item .title-2 {
    padding-left: 70px;
    width: 227px;
}

.m-directory-bookdetail .directory .book .item .title-2 {
    max-width: 227px;
    width: auto !important;
    width: 227px;
    padding-right: 4px;
}

.m-directory-bookdetail .directory .item .time {
    padding-right: 20px;
}

.m-directory-bookdetail .directory .last .title-2 {
    padding-left: 52px;
}

.m-directory-bookdetail .directory .last .time {
    padding-right: 27px;
}

.m-directory-bookdetail .directory .item .sep {
    width: 13px;
}

.m-directory-bookdetail .directory ul {
    overflow: hidden;
    -webkit-transition: height .5s ease-in;
}

.m-directory-bookdetail .directory .more {
    height: 600px;
}

.m-directory-bookdetail .morebtn {
    display: block;
    border-top: 1px solid #ebe6e1;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #655;
    font-size: 14px;
}

.m-directory-bookdetail .morebtn .arrow {
    display: inline-block;
    width: 9px;
    height: 40px;
    padding-left: 4px;
    text-indent: -9999px;
}

.m-directory-bookdetail .morebtn .arrow-up {
    background-position: -8px -126px;
}

.m-directory-bookdetail .morebtn .arrow-down {
    background-position: -22px -125px;
}

.m-directory-bookdetail .morebtn .arrow-left {
    background-position: 3px -123px;
}

.m-directory .empty {
    padding: 49px 0;
}

.m-directory .empty img {
    display: block;
    margin: 0 auto 13px;
}

.m-directory .empty p {
    text-align: center;
    font-size: 14px;
    color: #655;
}

.comment_none {
    width: 180px;
    height: 180px;
    background-size: 100% 100%;
    margin: 80px auto 20px;
}

.comment_text_none {
    font-size: 16px;
    color: #999;
    text-align: center;
}