.noborder a{
outline: medium none;
text-decoration: none;
    cursor: pointer;
    font-size: 12px;
}

.noborder td{
    height: 50px;
    text-align: center;
    padding: 20px 10px;
    border: #d8dde0 solid 1px
}