.m-sec .tags li a.new, .m-sec .tags li a.cur, .m-pbox-2 .edit {
    background: url(/images/sprite11.png?e442686c) 9999px 9999px no-repeat;
}

.m-tableinfo td a.bonus {
    background: url(/images/bookicons.png?b17e991a) 9999px 9999px no-repeat;
}

.m-newpro .m-info:after, .m-mydvc ul:after, .m-sec:after, .m-sec .tags ul:after, .m-sec .bt:after, .m-sec .inner .edit1:after, .m-sec .inner .edit2:after, .m-sec .inner .edit2 ul:after, .m-newpro:after, .m-wb .item:after, .m-subbox .innerbox:after, .m-weibo ul:after, .m-tableinfo .hint:after, .m-sucessdone:after, .m-pbox .my-para p:after, .single-item:after, .m-orderwrap:after, .m-sum-order:after, .m-sucessdone:after {
    clear: both;
    content: '.';
    display: block;
    height: 0;
    visibility: hidden;
}

.m-newpro .m-info, .m-mydvc ul, .m-sec, .m-sec .tags ul, .m-sec .bt, .m-sec .inner .edit1, .m-sec .inner .edit2, .m-sec .inner .edit2 ul, .m-newpro, .m-wb .item, .m-subbox .innerbox, .m-weibo ul, .m-tableinfo .hint, .m-sucessdone, .m-pbox .my-para p, .single-item, .m-orderwrap, .m-sum-order, .m-sucessdone {
    zoom: 1;
}

.g-iwrap {
    margin: 30px 0 0 0;
}

.m-mainbox {
    width: 698px;
    padding: 35px 30px 30px 30px;
    float: right;
    border: #ddd solid 1px;
}

.m-mainctrl {
    width: 178px;
    float: left;
    border: #ddd solid 1px;
}

.m-mainctrl ul li {
    height: 36px;
    line-height: 36px;
    border-bottom: #ddd dotted 1px;
}

.m-mainctrl ul li.ll {
    border-bottom: none;
}

.m-mainctrl ul li a {
    font-size: 12px;
    display: block;
    height: 34px;
    line-height: 34px;
    padding: 0 0 0 50px;
    border-top: #fff solid 1px;
    border-bottom: #fff solid 1px;
    color: #666;
}

.m-mainctrl ul li a:hover {
    background-color: #f4f4f4;
}

.m-mainctrl ul li.title {
    position: relative;
}

.m-mainctrl ul li.title a {
    display: block;
    padding-left: 40px;
    font-size: 14px;
    color: #333;
    cursor: default;
}

.m-mainctrl ul li.title a:hover {
    background-color: #fff;
}

.m-mainctrl ul li.crt a {
    background-color: #f4f4f4;
}

.m-mainctrl .icon {
    position: absolute;
    top: 11px;
    left: 18px;
    height: 14px;
    width: 14px;
    overflow: hidden;
    background: url(/images/personalinfo.png?0cb336af) no-repeat 9999px 9999px;
}

.m-mainctrl .userinfo {
    background-position: 0 -28px;
}

.m-mainctrl .account {
    background-position: 0 -14px;
}

.m-mainctrl .computer {
    background-position: 0 0;
}

.m-bookbrief {
    background-color: #f4f4f4;
}

.m-bookbrief h3 {
    font-size: 14px;
    font-weight: normal;
    padding: 10px 0;
    text-indent: 18px;
    border-bottom: #dedede dotted 1px;
}

.m-bookbrief .cover {
    margin: 28px 0 0 0;
}

.m-bookbrief .cover a.img {
    display: block;
    width: 114px;
    height: 160px;
    margin: 0 auto;
}

.m-bookbrief .cover p {
    margin: 5px 0 0 32px;
    width: 118px;
}

.m-bookbrief ul {
    margin: 57px 0 0 0;
    padding: 0 19px 70px 19px;
}

.m-bookbrief ul li {
    height: 26px;
    line-height: 26px;
    border-bottom: none;
    color: #666;
    _position: relative;
}

.m-bookbrief ul li em {
    color: #c61a14;
}

.m-bookbrief ul li .w-star {
    float: right;
    margin: 5px 5px 0 0;
    width: 98px;
    _position: absolute;
    _left: 40px;
    _top: 0;
}

.m-info {
    margin: 0 0 30px;
}

.m-info .photo {
    float: left;
}

.m-info .photo, .m-info .photo img {
    display: block;
    width: 92px;
    height: 92px;
}

.m-info .photo {
    margin: 0 auto;
    padding: 3px;
    border: #ccc solid 1px;
    background: #fff;
}

.m-info .photo a, .m-info .photo a span {
    display: block;
}

.m-info .photo a {
    position: relative;
    text-decoration: none;
}

.m-info .photo a span {
    position: absolute;
    top: 0;
    right: 0;
    display: none;
    width: 67px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    color: #fff;
    background-color: #737373;
    opacity: .8;
    filter: alpha(opacity=80);
}

.m-info .photo a:hover span {
    display: block;
}

.m-info .ngb {
    width: 110px;
    float: right;
    padding-top: 10px;
}

.m-info .pname {
    overflow: hidden;
    width: 110px;
    height: 30px;
    padding: 3px 0 0 0;
    margin: 0 auto;
    line-height: 30px;
    text-align: center;
    color: #999;
}

.m-info .pname a {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    text-align: left;
}

.m-info .pname a:hover {
    background-color: #eaf4f8;
}

.m-info .pname span {
    display: inline-block;
    max-width: 50px;
    height: 30px;
    overflow: hidden;
}

.m-info .pname span.thename {
    margin-right: 25px;
    font-size: 14px;
    font-weight: 600;
    max-width: 110px;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.m-info .pname em {
    margin-right: 21px;
    font-size: 14px;
    color: #333;
    overflow: hidden;
}

.m-info .gd {
    color: #999;
}

.m-info a.edit {
    display: block;
    width: 72px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    border: #bfbfbf solid 1px;
    background-color: #f8f8f8;
    color: #666;
    margin-top: 15px;
    text-decoration: none;
}

.m-newpro .m-info {
    margin-bottom: 0;
}

.m-newpro .m-info .ngb {
    float: left;
    width: 200px;
    padding-left: 12px;
}

.m-newpro .m-info .pname {
    width: 200px;
    text-align: left;
}

.m-newpro .m-info .pname span.thename {
    max-width: 190px;
}

.m-pbox {
    float: left;
}

.m-pbox-1 {
    width: 98px;
    margin: 0 0 30px 0;
}

.m-pbox-2 {
    width: 560px;
    padding: 0 20px;
    position: relative;
    _width: 550px;
}

.m-pbox-2 h4 {
    margin-bottom: 10px;
}

.m-pbox-2 h4.binfo a {
    font-size: 16px;
    color: #333;
    max-width: 300px;
}

.m-pbox-2 h4.binfo span {
    font-size: 12px;
    color: #999;
    padding-left: 20px;
}

.m-pbox-2 .edit {
    position: absolute;
    width: 22px;
    height: 22px;
    top: 0;
    right: 0;
    text-indent: -9999px;
    background-position: -78px -1px;
}

.m-pbox .my-para {
    position: relative;
}

.m-pbox .my-para {
    font-size: 12px;
    padding-left: 60px;
}

.m-pbox .my-para a {
    display: block;
    text-decoration: none;
    word-wrap: break-word;
    color: #666;
}

.m-pbox .my-para a:hover {
    background-color: #eaf4f8;
}

.m-pbox .my-para a p, .m-pbox .my-para p a {
    color: #666;
    word-break: break-word;
    font-size: 12px;
    line-height: 22px;
}

.m-pbox .my-para a p {
    margin-bottom: 5px;
}

.m-pbox .mail {
    margin: 0 0 12px 0;
}

.m-pbox .mail span {
    top: 0;
}

.m-newpro .t-person, .m-newpro .t-tag, .m-newpro .t-dev {
    position: absolute;
    font-size: 12px;
    color: #666;
}

.m-newpro .t-person, .m-newpro .t-tag {
    top: 2px;
    left: 0;
    _top: -2px;
    _left: -60px;
}

.m-newpro .t-dev {
    top: 15px;
    left: 0;
    _top: 2px;
    _left: -64px;
}

.m-subbox {
    margin: 0 0 27px 0;
    clear: both;
}

.m-subbox h3 {
    padding: 0 0 5px 0;
    border-bottom: #dedede dotted 1px;
}

.m-subbox .innerbox {
    margin: 3px 0 0 0;
    padding: 12px 24px;
    background-color: #f4f4f4;
}

.m-subbox .cell {
    float: left;
    width: 325px;
    height: 30px;
    overflow: hidden;
}

.m-subbox .cell p {
    line-height: 30px;
    color: #666;
}

.m-subbox .cell p em {
    color: #e3292b;
    font-weight: bold;
}

.m-subbox .cell p a {
    margin: 0 0 0 20px;
    color: #1b77ba;
}

.m-subbox .pb {
    line-height: 30px;
    color: #666;
}

.m-subbox .pb .lv, .m-subbox .pb label {
    float: left;
}

.m-probar {
    float: left;
    width: 170px;
    height: 16px;
    margin: 6px 0 0 0;
    border: #cee3eb solid 1px;
    _float: left;
}

.m-probar .inner {
    height: 14px;
    border: #fff solid 1px;
    background-color: #f5f9fa;
}

.m-probar .inner .bar {
    height: 14px;
    line-height: 14px;
    background: url(/images/probargb.png?19b59113) 0 0 repeat-x;
    text-align: right;
}

.m-probar .inner .bar span {
    font-size: 12px;
    color: #333;
}

.m-sec {
    margin-bottom: 26px;
}

.m-sec-1 {
    margin-bottom: 6px;
}

.m-sec .sub {
    width: 40px;
    float: left;
    padding: 6px 0 0 0;
    font-size: 14px;
    font-weight: 600;
}

.m-sec .main {
    width: 100%;
    float: right;
    margin-left: -40px;
}

.m-sec p.nicktip {
    text-align: left;
    padding-top: 10px;
    color: #999;
}

.m-sec .inner {
    margin-left: 40px;
    padding: 0 0 0 10px;
    text-align: left;
}

.m-sec .inner .hidden {
    display: none;
}

.m-sec .inner .imgbox {
    float: left;
    width: 152px;
    height: 152px;
    overflow: hidden;
}

.m-sec .inner .imgbox img {
    width: 152px;
    height: 152px;
}

.m-sec .inner .txtbox {
    float: left;
    width: 340px;
    padding: 0 0 0 24px;
}

.m-sec .inner .txtbox input {
    cursor: pointer;
    height: 25px;
    line-height: 25px;
    border: #bfbfbf solid 1px;
    background-color: #f8f8f8;
    color: #666;
}

.m-sec .inner .txtbox input.button {
    width: 72px;
    background-position: 0 -213px;
}

.m-sec .inner .txtbox input.file {
    border: 1px solid #ccc;
    color: #666;
}

.m-sec .inner .txtbox p {
    margin: 0 0 17px 0;
}

.m-sec .inner .txtbox p.pra1 {
    font-size: 14px;
}

.m-sec .inner .txtbox p.pra1 span {
    font-size: 12px;
    color: #999;
}

.m-sec .inner .txtbox p.pra2 {
    color: #666;
}

.m-sec .inner .txtbox p.pra3 {
    color: #c00;
}

.m-sec .inner .txtbox p.pra5 {
    margin-bottom: 12px;
}

.m-sec .inner .txtbox p.pra5 a {
    color: #cd4544;
}

.m-sec .inner .txtbox .preview {
    width: 100px;
    height: 100px;
    overflow: hidden;
}

.m-sec .inner .edit2 ul li {
    float: left;
    padding: 0 25px 0 0;
}

.m-sec .inner .edit2 ul li span {
    font-weight: bold;
}

.m-sec .inner .edit2 ul li input {
    display: block;
    margin: 75px 0 0 92px;
}

.m-sec .inner .edit2 ul li.previewok {
    padding-right: 0;
}

.m-sec .inner .edit2 .imgbox {
    border: #5c5c5c solid 1px;
    text-align: center;
    line-height: 152px;
    position: relative;
}

.m-sec .inner .edit2 .imgbox .img-wrap {
    position: absolute;
    top: 50%;
    left: 50%;
}

.m-sec .inner .edit2 .imgbox .img-wrap img {
    position: absolute;
    max-width: 152px;
    max-height: 152px;
}

.m-sec .inner .mailsub1 {
    padding: 7px 0 5px 0;
    line-height: 14px;
    height: 14px;
}

.m-sec .inner .mailsub1 input, .m-sec .inner .mailsub1 em {
    float: left;
    border: none;
}

.m-sec .inner .mailsub1 input {
    width: 14px;
    height: 14px;
}

.m-sec .inner .mailsub1 em {
    padding-left: 5px;
}

.m-sec .inner .mailsub2 {
    padding: 3px 0 0 0;
    line-height: 18px;
    color: #999;
}

.m-sec .inner input.nickname {
    width: 516px;
    height: 30px;
    padding: 0 10px;
    line-height: 30px;
    font-size: 14px;
    border: #ccc solid 1px;
    background-position: 0 0;
    background-repeat: repeat-x;
    background-color: #fff;
}

.m-sec .inner p.gender {
    font-size: 14px;
    height: 30px;
    line-height: 30px;
}

.m-sec .inner p.gender input {
    margin: 0 5px 0 15px;
}

.m-sec .inner textarea.txt {
    width: 516px;
    height: 80px;
    padding: 10px;
    overflow: auto;
    border: #ccc solid 1px;
    background-position: 0 0;
    background-color: #fff;
    background-repeat: repeat-x;
}

.m-sec .inner textarea.focus {
    background-position: 0 0;
    background-color: #faf9d7;
}

.m-sec .inner p.intro {
    color: #999;
    padding: 10px 0 5px 0;
}

.m-sec .inner p.intro span {
    font-weight: bold;
}

.m-sec .inner input.labels {
    width: 185px;
    height: 30px;
    padding: 0 10px;
    margin: 0 10px 0 0;
    line-height: 30px;
    font-size: 14px;
    border: #ccc solid 1px;
    background-position: 0 0;
    background-color: #fff;
    background-repeat: repeat-x;
}

.m-sec .inner input.focus {
    background-position: 0 0;
    background-color: #faf9d7;
}

.m-sec .inner input.add {
    width: 52px;
    height: 32px;
    border: none;
    cursor: pointer;
    font-size: 12px;
    background-position: 0 -106px;
    color: #666;
}

.m-sec .tags ul {
    padding: 10px 0 15px;
}

.m-sec .tags li {
    float: left;
    margin: 0 0 5px 0;
}

.m-sec .tags li a {
    display: block;
    float: left;
    height: 17px;
    line-height: 17px;
    overflow: hidden;
    margin: 0 10px 0 0;
    text-decoration: none;
    color: #666;
}

.m-sec .tags li a.cur, .m-sec .tags li a.new {
    padding: 0 6px 0 19px;
}

.m-sec .tags li a.cur:hover {
    background-color: #c00;
    color: #fff;
    background-position: 1px 0;
}

.m-sec .tags li a.new:hover {
    background-color: #c00;
    color: #fff;
    background-position: 1px -35px;
}

.m-sec .inner h3 {
    font-size: 12px;
    font-weight: normal;
}

.m-sec .inner h3 a {
    color: #cd4544;
    padding: 0 0 0 80px;
    font-weight: bold;
}

.m-sec .inner p.alert {
    color: #c00;
}

.m-sec .inner p.ttip {
    padding: 3px 0 15px;
    color: #999;
    line-height: 18px;
}

.m-sec .bt {
    border-top: #e6e6e6 solid 1px;
    padding: 12px 0 0 0;
}

.m-sec .bt button {
    float: right;
    width: 52px;
    height: 25px;
    line-height: 25px;
    margin: 0 0 0 12px;
    border: #bfbfbf solid 1px;
    background-color: #f8f8f8;
    color: #666;
}

.m-weibo h2 {
    font-size: 14px;
    border-bottom: #dedede dotted 1px;
    padding: 0 0 5px 0;
    font-weight: normal;
}

.m-weibo .tip {
    color: #999;
    padding: 10px 0 30px;
}

.m-weibo ul li {
    float: left;
    width: 227px;
    margin-bottom: 30px;
}

.single-item {
    margin: 0 0 30px 0;
}

.single-item .img, .single-item .info {
    float: left;
}

.single-item .info {
    margin: 0 0 0 20px;
}

.single-item .info h6 {
    font-size: 14px;
    height: 26px;
    line-height: 26px;
    overflow: hidden;
    color: #333;
    font-weight: normal;
    margin: 0;
}

.single-item .info h6 span {
    font-size: 12px;
    color: #666;
    margin: 0 0 0 10px;
}

.single-item .info a {
    color: #1c77ba;
}

.m-wb {
    padding-right: 15px;
}

.m-wb .item .img {
    float: left;
    margin-right: 20px;
}

.m-wb .item .info {
    float: left;
    width: 140px;
    overflow: hidden;
}

.m-wb .item .info h6 {
    font-size: 14px;
    height: 26px;
    line-height: 26px;
    overflow: hidden;
    color: #333;
    font-weight: normal;
    margin: 0;
}

.m-wb .item .info p {
    color: #666;
}

.m-wb .item .info p span {
    color: #D7292B;
    margin: 0 0 0 20px;
}

.m-wb .item .info a {
    color: #1c77ba;
    line-height: 24px;
}

.m-wb .item .btn {
    float: right;
}

.m-wb .item .btn a {
    display: block;
    width: 70px;
    height: 24px;
    margin-top: 2px;
    border: #bfbfbf solid 1px;
    color: #666;
    line-height: 24px;
    text-align: center;
}

.m-wb .item .btn a.s0 {
    background-color: #f8f8f8;
}

.m-wb .item .btn a.s1 {
    background-color: #e5e5e5;
}

.m-bonus .bar {
    height: 30px;
    padding: 0 0 20px 0;
    margin: 0 0 20px 0;
    border-bottom: #ddd dotted 1px;
}

.m-bonus .bar p {
    font-size: 14px;
    line-height: 30px;
}

.m-bonus .bar label {
    float: left;
}

.m-bonus .bar input {
    float: left;
    width: 208px;
    height: 28px;
    padding: 0 5px;
    margin: 0 10px 0 0;
    border: #ddd solid 1px;
    background: none;
}

.m-bonus .bar a {
    float: left;
    display: inline;
    width: 89px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    background-color: #e04d3b;
    border: #c23524 solid 1px;
    color: #fff;
    font-weight: bold;
}

.m-tableinfo .hint p.fl {
    float: left;
}

.m-tableinfo .hint p.fr {
    float: right;
}

.m-tableinfo .hint p em {
    color: #f5322d;
}

.m-tableinfo .hint p a.active {
    display: inline-block;
    color: #fff;
    font-size: 14px;
    padding: 3px 10px;
    background-color: #e04d3b;
    border: #c23524 solid 1px;
}

.m-tableinfo a.captcha {
    margin: 0 0 0 20px;
    color: #1b77ba;
}

.m-tableinfo {
    padding: 0;
    min-height: 360px;
}

.m-tableinfo table {
    width: 100%;
}

.m-tableinfo table.border {
    border: #e7e7e7 solid 1px;
    margin: 0 0 20px 0;
}

.m-tableinfo thead tr {
    border-bottom: #ebebeb solid 1px;
    background-color: #ececec;
}

.m-tableinfo thead tr th {
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    color: #333;
    text-align: center;
}

.m-tableinfo table td, .m-tableinfo table th {
    border-right: #ebebeb solid 1px;
}

.m-tableinfo thead tr th a {
    color: #333;
}

.m-tableinfo td {
    padding: 12px 10px;
    text-align: center;
    font-size: 12px;
    color: #666;
    border-bottom: #ebebeb solid 1px;
    word-break: break-word;
}

.m-tableinfo td.nopadding {
    padding: 12px 0;
}

.m-tableinfo td a {
    color: #4770ae;
    vertical-align: bottom;
}

.m-tableinfo td a.refund span {
    display: inline-block;
    width: 25px;
    height: 14px;
    margin: 0 0 0 5px;
    background: url(/images/bookicons.png?b17e991a) 0 -705px;
}

.m-tableinfo td a.bonus {
    display: block;
    text-indent: -9999px;
    margin: 5px auto;
}

.m-tableinfo td a.bonus-1 {
    width: 50px;
    height: 20px;
    background-position: -90px -700px;
}

.m-tableinfo td a.bonus-2 {
    width: 60px;
    height: 20px;
    background-position: -140px -700px;
}

.m-bonustip {
    position: absolute;
    width: 177px;
    height: 41px;
    background: url(/images/viptip.png?e2356976) 0 -90px;
    z-index: 2000;
}

.m-bonustip .inner {
    padding: 8px 10px;
}

.m-bonustip .inner p {
    color: #666;
    text-align: center;
}

.m-tableinfo .hint h4 {
    font-size: 14px;
    font-weight: normal;
    padding: 0 0 5px 0;
    margin: 0 0 20px 0;
    border-bottom: #ddd dotted 1px;
}

.m-tableinfo .hint h4 em {
    color: #d62528;
}

.m-tableinfo .hint h6 {
    font-size: 12px;
    color: #666;
    margin: 10px 0 5px;
}

.m-tableinfo .hint span {
    color: #d62528;
}

.m-tableinfo .hint p a {
    color: #4770ae;
}

.m-tableinfo .hint p {
    margin: 12px 0;
    line-height: 24px;
    color: #333;
}

.m-tableinfo .hint p.tip {
    margin: 0;
    color: #666;
}

.m-tableinfo .hint p.nofind {
    font-size: 14px;
}

.m-tableinfo .hint p.nofind-yp a {
    margin: 0 0 0 15px;
}

.m-tableinfo .hint-up {
    margin-top: -55px;
    text-align: right;
    _position: absolute;
    _top: 10px;
    _right: 40px;
}

.m-tableinfo .hint select {
    line-height: 24px;
}

.m-tableinfo td.name a, .m-tableinfo td.ops a {
    color: #4770ae;
}

.m-tableinfo td.items {
    text-align: left;
}

.m-tableinfo td.items input {
    text-align: left;
    vertical-align: text-bottom;
    margin-bottom: 0;
    *margin-bottom: -2px;
    margin-right: 12px;
}

.m-tableinfo td.items label {
    cursor: pointer;
    margin-right: 20px;
}

.m-tableinfo tbody td.page {
    text-align: right;
}

.m-tableinfo tbody td.page a {
    display: inline-block;
    width: 39px;
    height: 19px;
    line-height: 19px;
    color: #999;
    padding: 3px 10px;
    border: #d9d9d9 solid 1px;
    background-color: #f8f8f8;
    text-decoration: none;
}

.m-tableinfo hr {
    height: 1px;
    border-bottom: #292d33 solid 1px;
    margin: 0 0 10px 0;
    padding: 0;
}

.m-nr .m-page {
    margin: 10px 0;
}

.m-tableinfo .tabs ul {
    height: 34px;
    border-bottom: #dfdfdf solid 1px;
}

.m-tableinfo .tabs ul li {
    float: left;
    padding: 0 10px;
    height: 33px;
    line-height: 33px;
    font-size: 14px;
    color: #333;
    cursor: pointer;
    border: #dfdfdf solid 1px;
    background-color: #ececec;
    border-bottom: #ececec solid 1px;
    border-radius: 5px 5px 0 0;
}

.m-tableinfo .tabs ul li.crt {
    background-color: #fff;
    border-bottom: #fff solid 1px;
}

.m-tableinfo .tabs ul li.ll {
    margin: 0 8px;
}

.m-tableinfo .tabs ul li a {
    background: none;
    padding: 0;
    margin: 0;
    border: none;
}

.m-tableinfo .contents {
    padding: 11px 0 0 0;
    _position: relative;
}

.m-tableinfo .contents .border {
    margin-top: 20px;
}

.m-tableinfo-1 td {
    word-break: break-all;
}

.m-tableinfo-1 td.side {
    text-align: center;
}

.m-tableinfo-1 td.red {
    color: #f5322d;
}

.m-setlist {
    margin: 10px 0 10px 20px;
}

.m-setlist li {
    line-height: 24px;
}

.m-setlist li input {
    vertical-align: text-bottom;
    margin-bottom: 1px;
    *margin-bottom: -2px;
}

.m-setlist li label {
    margin: 0 0 0 5px;
}

a.subbtn {
    display: block;
    width: 48px;
    height: 23px;
    line-height: 23px;
    margin: 20px 0 0 0;
    border: #5a8ac0 solid 1px;
    background-color: #6999d0;
    color: #fff;
    text-align: center;
    border-radius: 3px;
}

a.disable {
    border: #bfbfbf solid 1px;
    background-color: #f8f8f8;
    color: #666;
    cursor: not-allowed;
}

.m-tableinfo td span.refund {
    display: inline-block;
    margin: 0 0 0 3px;
    width: 25px;
    height: 14px;
    vertical-align: middle;
    background: url(/images/bookicons.png?b17e991a) 0 -706px;
}

h3.orderhead {
    font-size: 16px;
    font-weight: bold;
    padding: 20px 0 10px;
    border-bottom: #c13432 solid 1px;
}

.m-order {
    padding: 18px 18px 0;
    border: #ddd solid 1px;
    border-top: none;
}

.m-order table {
    width: 100%;
}

.m-order table td, .m-order table td a, .m-order table th {
    color: #333;
    font-size: 14px;
}

.m-order table thead tr th, .m-order table tbody tr td {
    padding: 14px 0 14px 30px;
    border-bottom: #bcbcbc dotted 1px;
}

.m-order .ltr td {
    border-bottom: none;
}

.m-order table thead tr th {
    background-color: #f4f4f4;
    font-weight: bold;
    border-bottom: none;
}

.m-order table .aside {
    text-align: center;
    padding-right: 30px;
}

.m-order table .aside del {
    color: #d2402f;
}

.m-order .price em, .m-order .total p em {
    color: #f5322d;
}

.m-ordertotal p {
    line-height: 52px;
    padding: 0 18px 0 0;
    text-align: right;
    font-size: 16px;
}

.m-sum-order {
    float: none;
    clear: both;
    background-color: #f2f7ff;
    margin: 0;
    padding: 18px 0;
}

.m-sum-order p {
    margin: 0 18px;
}

.m-sum-order p a.tip {
    font-size: 14px;
    color: #ff5600;
    padding: 3px 5px;
    margin-right: 21px;
    line-height: 14px;
    border: #fc9 solid 1px;
    background-color: #ffc;
}

.m-sum-order p.credit {
    font-size: 12px;
    height: 34px;
    border-top: #bcbcbc dotted 1px;
}

.m-sum-order p.credit input {
    vertical-align: text-bottom;
    margin-bottom: 1px;
    *margin-bottom: -2px;
    margin-right: 10px;
}

.m-sum-order p.credit em {
    color: #c00;
}

.m-sum-order p.credit a {
    color: #1c77ba;
    margin-left: 10px;
}

.paynote {
    width: 300px;
    height: 54px;
    padding: 5px 13px 5px 25px;
    border: #fc9 solid 1px;
    background: url(/images/logicon.png?a50fb54d) 7px 8px no-repeat #ffc;
}

.paynote p {
    font-size: 12px;
    color: #666;
    line-height: 18px;
    text-align: left;
    margin: 0;
    padding: 0;
}

.paynote p a {
    color: #1c77ba;
}

.m-sum-order .paynote {
    float: right;
    margin: 0 38px 20px 0;
}

.m-buybutton p {
    text-align: right;
    margin: 20px 20px 0 0;
}

.m-buybutton p a.gopay {
    display: inline-block;
    width: 136px;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    border: #b62d1d solid 1px;
    border-radius: 3px;
    background-color: #d2402f;
    color: #fff;
    text-align: center;
    font-weight: bold;
}

.m-buybutton p a.tocart {
    margin: 0 12px 0 0;
    color: #1c77ba;
    font-size: 14px;
}

.m-bselect {
    position: relative;
    float: right;
    width: 340px;
    height: 44px;
    clear: both;
    background-color: #f4f4f4;
}

.m-bselect .type {
    width: 16px;
    height: 11px;
    position: absolute;
    left: 30px;
    background: url(/images/bookicons.png?b17e991a) 9999px 9999px no-repeat;
}

.m-bselect .type1 {
    top: 22px;
    background-position: -16px -750px;
}

.m-bselect .type2 {
    top: 12px;
    background-position: 0 -750px;
}

.m-bselect p {
    line-height: 36px;
    padding: 0 20px 0 55px;
    font-size: 16px;
    color: #333;
}

.m-bselect-1 p {
    padding-top: 0;
    padding-bottom: 10px;
}

.m-bselect select {
    width: 100px;
    height: 20px;
    margin: 0 0 0 10px;
    border: #cecece solid 1px;
    color: #999;
    font-size: 14px;
}

.m-bselect .hb {
    display: inline-block;
    margin: 0 0 0 10px;
    font-size: 14px;
    line-height: 14px;
    color: #999;
}

.m-bselect a.hb b {
    display: block;
    float: right;
    width: 14px;
    height: 14px;
    margin: 0 0 0 3px;
    vertical-align: middle;
    background: url(/images/bookicons.png?b17e991a) 0 -761px no-repeat;
}

.m-bselect a.hb:hover {
    color: #7bade7;
}

.m-bselect a.hb:hover b {
    background-position: -14px -761px;
}

.m-bselect .yd {
    float: right;
}

.m-bselect em.yd {
    color: #f5322d;
}

.m-bselect .paynote {
    background: #ffc;
    width: auto;
    height: auto;
    color: #666;
    position: absolute;
    top: 38px;
    left: 50px;
    padding-left: 13px;
}

.m-chapterx .m-headtop {
    height: 30px;
    margin: -20px 0 24px 0;
    border-bottom: #dedede dotted 1px;
}

.m-chapterx .m-headtop h3 {
    font-weight: normal;
    line-height: 30px;
}

.m-chapterx table {
    width: 100%;
}

.m-chapterx thead tr {
    height: 30px;
    background-color: #eee;
}

.m-chapterx table thead tr th label {
    margin: 0 0 0 17px;
}

.m-chapterx table thead tr th input.selectall {
    margin-right: 5px;
    vertical-align: text-bottom;
    margin-bottom: 2px;
    *margin-bottom: -2px;
}

.m-chapterx table tbody tr td {
    height: 35px;
    line-height: 35px;
    border-bottom: #e7e7e7 dotted 1px;
}

.m-chapterx .m-innertable tr {
    background-color: #fff;
}

.m-chapterx .m-innertable tr.pointer {
    cursor: pointer;
}

.m-chapterx .m-innertable tr td input.ccb {
    margin-left: 30px;
}

.m-chapterx td.section-title input {
    margin: 0 0 0 17px;
}

.m-chapterx td.section-title b {
    display: block;
    float: left;
    margin: 10px 5px 0 0;
    width: 3px;
    height: 14px;
    background-color: #c00;
}

.m-chapterx td.section-title b.empty {
    background-color: #fff;
}

.m-sucessdone {
    margin: 20px auto;
    padding: 40px 0;
    background: #f2ffe7;
    border: #b0cb99 solid 1px;
}

.m-sucessdone .leftpic, .m-sucessdone .leftpic-x {
    float: left;
    width: 100px;
    height: 100px;
    background: url(/images/newface.png?6e99d6e4) 9999px 9999px no-repeat;
}

.m-sucessdone .leftpic {
    background-position: 0 0;
    width: 84px;
    height: 116px;
    margin-left: 75px;
}

.m-sucessdone .leftpic-x {
    background-position: -105px 0;
    width: 96px;
}

.m-sucessdone .rightinfo {
    float: left;
    margin: 0 0 0 30px;
    width: 748px;
}

.m-sucessdone .rightinfo h2 {
    margin: 0 0 5px 0;
    font-size: 30px;
    color: #3d8e0d;
    font-family: Microsoft Yahei, 黑体;
    font-weight: normal;
}

.m-sucessdone .rightinfo h2.red {
    color: #d7292b;
}

.m-sucessdone .rightinfo h2 span {
    font-size: 16px;
}

.m-sucessdone .rightinfo h2 span em {
    color: #ff0101;
}

.m-sucessdone .rightinfo h2 span b {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url(/images/promotion/guoqin/arrow.png?c643b823) 0 0 no-repeat;
}

.m-sucessdone .rightinfo p .txt-larger {
    font-size: 1.4em;
}

.m-sucessdone .rightinfo p .txt-hot {
    color: #D7292B;
}

.m-sucessdone .rightinfo p a {
    color: #4770ae;
}

.m-sucessdone .rightinfo .p1 {
    font-size: 14px;
    margin: 0 0 10px 0;
}

.m-sucessdone .rightinfo .p2 {
    width: 737px;
    font-size: 12px;
    padding: 15px 0 5px;
    color: #666;
}

.m-sucessdone .rightinfo .p2 a {
    color: #4770ae;
    margin: 0 15px 0 0;
}

.m-sucessdone .rightinfo ul {
    margin: 5px 20px 0 0;
    border-top: #aaa dotted 1px;
}

.m-sucessdone .rightinfo ul li {
    line-height: 26px;
    color: #666;
    float: left;
    margin-right: 20px;
    list-style: square inside;
}

.m-sucessdone .rightinfo ul li em {
    color: #d7292b;
}

.m-sucessdone .rightinfo .caipiao {
    padding-bottom: 10px;
    font-size: 14px;
}

.m-sucessdone .rightinfo .caipiao .alert {
    color: #D7292B;
}

.m-sucessdone .rightinfo .caipiao a {
    display: inline-block;
    padding: 0 10px;
    height: 26px;
    background-color: #e04e3b;
    background: -moz-linear-gradient(top, #e14f3c, #ce3e2b);
    background: -webkit-linear-gradient(top, #e14f3c, #ce3e2b);
    background: -o-linear-gradient(top, #e14f3c, #ce3e2b);
    border: 1px solid #c13523;
    color: #fff;
    line-height: 26px;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    text-align: center;
}

.m-sucessdone .rightinfo .caipiao a:hover {
    color: #fff !important;
    background: -moz-linear-gradient(top, #e04f3c, #b92f1d);
    background: -webkit-linear-gradient(top, #e04f3c, #b92f1d);
    background: -o-linear-gradient(top, #e04f3c, #b92f1d);
    background: -ms-linear-gradient(top, #e04f3c, #b92f1d);
    filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#e04f3c, endcolorstr=#b92f1d, gradientType=1);
}

.m-sucessdone .rightinfo .newyear-gift-success .txt {
    font-size: 14px;
    width: 737px;
}

.m-sucessdone .rightinfo .newyear-gift-success .txt span.r {
    color: #d7292b;
}

.m-sucessdone .rightinfo .newyear-gift-success .txt span.g {
    color: #4770ae;
}

.m-sucessdone .rightinfo .newyear-gift-success .btn {
    margin-top: 10px;
    position: relative;
}

.m-sucessdone .rightinfo .newyear-gift-success .btn a {
    background: url(/images/common/btn-share.png?f534b21c) no-repeat;
    display: inline-block;
    width: 110px;
    height: 34px;
    margin-right: 10px;
    text-indent: -9999px;
}

.m-sucessdone .rightinfo .newyear-gift-success .btn a.yixin-follow {
    background-position: 0 0;
}

.m-sucessdone .rightinfo .newyear-gift-success .btn a.sina-follow {
    background-position: 0 -34px;
}

.m-sucessdone .rightinfo .newyear-gift-success .btn a.more {
    background-position: 0 -68px;
}

.m-sucessdone .rightinfo .newyear-gift-success .btn .yixin-code {
    background: url(/images/common/yixin-code.png?cb913de0) no-repeat;
    width: 150px;
    height: 136px;
    position: absolute;
    top: 35px;
    left: -10px;
    display: none;
}

.m-sucessdone .rightinfo .newyear-gift-success .btn .yixin-code a {
    display: block;
    height: 20px;
    width: 20px;
    float: right;
    margin: 20px 10px 0 0;
    background: none;
}

h6.tableheader {
    clear: both;
    padding: 20px 0 10px;
}

table.m-bought {
    width: 100%;
    color: #666;
}

table.m-bought td {
    border: #ddd solid 1px;
    height: 29px;
    text-align: center;
}

table.m-bought td.hd {
    background-color: #f0f0f0;
}

table.m-bought td.ltd {
    text-align: left;
    padding: 0 0 0 10px;
}

table.m-bought td a {
    color: #4770ae;
}

table.m-bought td.ltd a {
    color: #666;
}

table.m-bought td.ltd a:hover {
    color: #4770ae;
}

.m-andriodhb {
    margin: 20px 0 0 0;
    padding: 27px 50px;
    height: 74px;
    background-color: #f4f4f4;
    border: #bbb solid 1px;
}

.m-andriodhb .icon {
    float: left;
    position: relative;
    padding-left: 76px;
    padding-right: 70px;
    border-right: #666 dotted 1px;
    height: 100%;
}

.m-andriodhb .icon span {
    position: absolute;
    top: 0;
    left: 0;
    width: 58px;
    height: 76px;
    background: url(/images/icon-hongbao.jpg?29ff1870) 0 -139px no-repeat;
}

.m-andriodhb .icon p {
    font-size: 16px;
    line-height: 37px;
}

.m-andriodhb .icon p a {
    color: #4770ae;
}

.m-andriodhb .icon p em {
    color: #ef2d2e;
}

.m-andriodhb .icon p b {
    color: #999;
    font-weight: normal;
    font-size: 14px;
}

.m-andriodhb .qr {
    float: left;
    position: relative;
    padding-left: 172px;
}

.m-andriodhb .qr span {
    width: 76px;
    height: 76px;
    position: absolute;
    left: 70px;
    top: 0;
    background: url(/images/icon-hongbao.jpg?29ff1870) 0 -225px no-repeat;
}

.m-andriodhb .qr p {
    font-size: 16px;
    line-height: 74px;
}

.m-yuanfans {
    float: right;
    width: 698px;
    padding: 16px 30px 18px;
    border: #dcdddd solid 1px;
}

.m-yuanfans .empty {
    height: 256px;
    font-size: 14px;
    text-align: center;
    margin-top: 200px;
    _height: 340px;
}

.m-yuanfans .title {
    height: 26px;
    border-bottom: 1px dotted #dedede;
}

.m-yuanfans h3 {
    font-size: 14px;
}

.m-yuanfans table {
    width: 100%;
    margin-top: 24px;
}

.m-yuanfans table th, .m-yuanfans table td {
    text-align: center;
}

.m-yuanfans table .col-left {
    text-align: left;
}

.m-yuanfans td {
    line-height: 36px;
    border-bottom: #dedede dotted 1px;
}

.m-banner {
    position: relative;
    padding-top: 70px;
    clear: both;
}

.m-banner h6 {
    position: absolute;
    color: #e10b2d;
    font-size: 22px;
    top: 5px;
    left: 280px;
}

.m-banner p {
    font-size: 14px;
    position: absolute;
}

.m-banner p.p1 {
    top: 38px;
    left: 64px;
}

.m-banner p.p2 {
    top: 38px;
    right: 53px;
}

.m-banner p em, .m-banner p a {
    color: #ff0101;
}

.m-banner p em {
    font-weight: bold;
}

@-webkit-keyframes bounce {
    0%, 100% {
        -webkit-transform: translateY(0);
    }
    10% {
        -webkit-transform: translateY(-4px);
    }
    20% {
        -webkit-transform: translateY(0);
    }
}

@-moz-keyframes bounce {
    0%, 100% {
        -moz-transform: translateY(0);
    }
    40% {
        -moz-transform: translateY(-4px);
    }
    60% {
        -moz-transform: translateY(0);
    }
}

@-ms-keyframes bounce {
    0%, 100% {
        -ms-transform: translateY(0);
    }
    40% {
        -ms-transform: translateY(-4px);
    }
    60% {
        -ms-transform: translateY(0);
    }
}

.ah-a-bounce {
    -webkit-animation: 3s 1s infinite ease-in-out;
    -moz-animation: 3s 1s infinite ease-in-out;
    -ms-animation: 3s 1s infinite ease-in-out;
    animation: 3s 1s infinite ease-in-out;
}

.ah-a-bounce {
    -webkit-animation-name: bounce;
    -moz-animation-name: bounce;
    -ms-animation-name: bounce;
    animation-name: bounce;
}